# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [6]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [ ]:
# built-in
type

In [7]:
x = 5
y = 7

z = x + y
print(z)

12

In [31]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena'" silvia----

In [27]:
print(g)

'lorena'" silvia

In [28]:
# type muestra el tipo de la variable
type(g)

str

In [29]:
type(3)

int

In [37]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena'" silvia---- 12 6 cadena
'lorena'" silvia---- 12 6 cadena

In [42]:
u = "g"
silvia = "silvia tiene "

anos = " años"

suma = silvia + u + anos
print(suma)

silvia tiene g años

In [41]:
n = 2
m = "3"

print(n + m)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
# Cambiar de int a str

j = 2
print(j)
print(type(j))
j = str(j)
print(j)
print(type(j))

2
<class 'int'>
2
<class 'str'>

In [51]:
# Cambiar de int a str

j = 2       
print(j)
print(type(j))
j = str(j) + " - " + silvia
print(j)
print(type(j))

2
<class 'int'>
2 - silvia tiene
<class 'str'>

In [1]:
k = 22
k = str(k)
print(k)

22

In [6]:
# Cambiar de str a int

lor = "98"
lor = int(lor)
print(lor)

98

In [11]:
# Para ver la longitud de una lista de caracteres (lista)

mn = "lista de caracteres$%·$% "

#lenght
print(len(mn))

25

In [12]:
h = len(mn)

print(h + 7)

32

In [13]:
h = 8

In [14]:
print(h)

8

In [2]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [16]:
print("Hello Python world!")
print("Nombre de compañero")

companero_clase = "Compañero123123"

print(companero_clase)

Hello Python world!
Nombre de compañero
Compañero123123

In [6]:
print(compañero)

Compañero123123

In [19]:
x = (2 + 4) + 7
print(x)

13

In [12]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [13]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [14]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [30]:
m = (numero2 + int(string2))
print(m)

43

In [3]:
m = ((((65 + int("22")) * 2)))
m

174

In [31]:
print(type(int(string2)))

<class 'int'>

In [35]:
y = 22
y = str(y)
print(type(y))

<class 'str'>

In [33]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [36]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [44]:
h = "2"
int(h)

2

In [27]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [40]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)
print(type(division))

3
<class 'int'>

In [26]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [41]:
print(x)

4

In [47]:
j = "2"
j

'2'

In [48]:
print(j)

2

In [56]:
x = 2
j = 6
g = 4
h = "popeye"

# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )
print(g)
print(j)
print(h)
x

4
6
popeye

2

In [62]:
int(5.6/2)

2

In [63]:
float(2)

2.0

In [66]:
g = int(5.6/2)
print(g)
5

2

5

In [58]:
x = int(5.6//2)

x

2

In [65]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

1

In [ ]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [72]:
edad = 99
edad_companero_der = 30
suma_anterior = edad_companero_der + edad
print(suma_anterior)

129

In [73]:
h = 89 + suma_anterior
h

218

In [66]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

47

In [76]:
i = "hola"
o = i.upper()
o

'HOLA'

In [79]:
o.lower()

'hola'

In [67]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [68]:
print(name.upper)

<built-in method upper of str object at 0x0000021CD21027F0>

In [69]:
print(name.upper())

ADA LOVELACE

In [80]:
x = 2
x = x + 1
x

3

In [96]:
x += 1
x

8

In [4]:
# int
x = 1
# float
y = 2.
# str
s = "string"

In [8]:
# type --> muestra el tipo de la variable o valor
print(type(x))
type(y)
type(s)

<class 'int'>

str

In [97]:
5 + 2

7

In [ ]:
x = 2
x = x + 1
x += 1

In [70]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

In [14]:
s = "Hola soy Soraya:"
s + "789"

'Hola soy Soraya:789'

In [21]:
print(s, 98, 29, sep="")
print(s, 98, 29)

Hola soy Soraya:9829
Hola soy Soraya: 98 29

In [18]:
type(     x      )

int

In [11]:
2 + 6

8

## 2. Números y operadores

In [23]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [26]:
# El módulo muestra el resto de la división entre dos números

2 % 2

0

In [27]:
3 % 2

1

In [32]:
4 % 5

4

In [33]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

1

In [35]:
numero % 2

1

In [36]:
99 % 100

99

In [ ]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

## Título

Escribir lo que sea

1. uno
2. dos

# INPUT

In [40]:
edad = input("Introduce tu edad")

print("Diego tiene", edad, "años")

Diego tiene 55 años

In [42]:
# Input recoge una entrada de texto de tipo String

num1 = int(input("Introduce el primer número"))
num2 = int(input("Introduce el segundo número"))

print(num1 + num2)

ValueError: invalid literal for int() with base 10: '23e'

## 3. Tipo None

In [43]:
x = None

In [45]:
n = 5
s = "Cadena"
print(x + s)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

## 4. Listas y colecciones

In [57]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"
primer_elemento = s[0]
#ultimo_elemento = s[5]
ultimo_elemento = s[-1]

print(primer_elemento)
print(ultimo_elemento)

C
a

In [61]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles[0]

'trek'

In [62]:
tamano_lista = len(bicycles)
tamano_lista

4

In [63]:
ultimo_elemento_por_posicion = tamano_lista - 1
bicycles[ultimo_elemento_por_posicion]

'specialized'

In [64]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

In [66]:
print(type(bicycles))

<class 'list'>

In [72]:
s = "String"
s.lower()
print(s.lower())
print(s)

string
String

In [71]:
s = s.lower()
s

'string'

In [68]:
# Existen dos tipos de funciones:
# 1. Los que modifican los valores sin que tengamos que especificar una reasignación a la variable
# 2. Los que solo devuelven la operación y no modifican el valor de la variable. Tenemos que forzar la reasignación si queremos modificar la variable. 

cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [74]:
cars = ['bmw']
print(cars)

cars.reverse()
print(cars)

['bmw']
['bmw']

In [78]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [77]:
s

'Hola soy Clara'

In [86]:
l = "hola"
len(l)

4

In [87]:
l[3]

'a'

In [5]:
# POP 

lista = [2, 4, 6, "a", 6, 8]

lista.pop(4)
lista

[2, 4, 6, 'a', 8]

In [9]:
lista = [2, 4, 6, "a", 6]

# Remove borra el primer elemento con el valor dado

lista.remove(6)
lista

[2, 4, 'a', 6]

In [10]:
# pop retorna el valor borrado
lista = [2, 4, 6, "a", 6, 8]

x = lista.pop(4)
print(x)
lista

6

[2, 4, 6, 'a', 8]

In [6]:
lista = [2, 4, 6, "a", 6, 8]

x = lista.remove(6)
print(x)

None

In [7]:
def remove2(a):
    x = a + 2

y = remove2(6)
print(y)

None

In [15]:
lista = [2, 4, 6, "a", 6, 8]

def f(s):
    print(s)

x = f(s=2)
print(x)

2
None

In [85]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [83]:
s[:3]

'Hol'

In [82]:
s[3:10]

'a soy C'

In [88]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [89]:
# Agrega un valor a la última posición de la lista
motorcycles.append("ducati")
motorcycles

['honda', 'yamaha', 'suzuki', 'ducati']

In [90]:
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'ducati']
lista[3]

[2, 3]

In [93]:
lista.remove(8.9)
lista

['honda', 2, 'yamaha', 'suzuki', 'ducati']

In [95]:
lista
l = lista[1]
l

2

In [96]:
lista.remove(l)
lista

['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
lista.remove(lista[2])

In [103]:
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']
lista

['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']

In [97]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']
lista.remove("honda")
lista

[2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']

In [98]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista
lista[2][1]

3

In [101]:
lista[3][2]

'm'

In [105]:
p = lista.remove("honda")
print(p)

None

In [109]:
l = [2, 4, 6, 8]
l.reverse()
l

[8, 6, 4, 2]

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)

In [166]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

j

'j'

In [169]:
lista.append("ultimo")
lista

[2, 5, 'caract', [9, 'g', ['j']], 'ultimo']

In [170]:
# Tuplas --> Inmutables

tupla = (2, 5, "caract", [9, "g", ["j"]])
tupla

(2, 5, 'caract', [9, 'g', ['j']])

In [172]:
s = "String"
s[2]

'r'

In [177]:
tupla[3].remove(9)
tupla

(2, 5, 'caract', ['g', ['j']])

In [178]:
tupla[3][1].remove("j")
tupla

(2, 5, 'caract', ['g', []])

In [179]:
tupla2 = (2, 5, 'caract', ['g', ['j']])
tupla2[-1].remove(["j"])
tupla2

(2, 5, 'caract', ['g'])

In [181]:
tupla2 = (2, 5, 'caract', ['g', ['j']])
tupla2[-1].remove("g")
tupla2

(2, 5, 'caract', [['j']])

In [183]:
tupla2[-1].remove(["j"])
tupla2

(2, 5, 'caract', [])

In [224]:
if False == 0:
    print(0)

0

In [174]:
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

In [184]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

[2, 1, ['k', 'm']]

In [185]:
lista = [2, "6", ["k", "m"]]
lista[2] = 0
lista

[2, '6', 0]

In [186]:
tupla = (2, "6", ["k", "m"])
tupla[2] = 0
tupla

TypeError: 'tuple' object does not support item assignment

In [187]:
tupla = (2, "6", ["k", "m"])
tupla[2][1] = 0
tupla

(2, '6', ['k', 0])

In [188]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

{2, 4, 6, 'a', 'h', 'z'}

In [190]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 4, 6, False, True, 'a', 'h', 'z'}

In [191]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [195]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [193]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [198]:
s = "String"
lista_s = list(s)
lista_s

['S', 't', 'r', 'i', 'n', 'g']

In [200]:
s = "String"
conj = {s}
conj

{'String'}

In [204]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = tuple(tupla)
tupla

(5, 'h')

In [206]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = (((((tupla)))))
tupla

[5, 'h']

In [207]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = tuple(tupla)
tupla

(5, 'h')

In [210]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

{2, 5, 'h'}

In [213]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

TypeError: 'set' object does not support indexing

In [218]:
lista = [1, 5, 6, True, 6]
set(lista)

{1, 5, 6}

In [217]:
lista = [True, 5, 6, 1, 6]
set(lista)

{True, 5, 6}

In [219]:
1 == True

True

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [111]:
# Operadores comparativos
x = (1 == 1)
x

True

In [112]:
1 == 2

False

In [113]:
"a" == "a"

True

In [114]:
# Diferente
"a" != "a"

False

In [115]:
2 > 4

False

In [116]:
4 > 2

True

In [117]:
4 >= 4

True

In [118]:
4 > 4

False

In [119]:
4 <= 5

True

In [120]:
4 < 3

False

In [123]:
input()

''

In [122]:
1 == 1

True

In [124]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

'\n== \n!=\n<\n>\n<=\n>=\n'

In [128]:
# and solo devolverá True si TODOS son True
True and False

False

In [129]:
# or devolverá True si UNO es True

(1 == 1) or (1 == 2)

True

In [130]:
(1 == 1) or (1 == 2) and (1 == 1)

True

In [131]:
(1 == 1) or ((1 == 2) and (1 == 1))

True

In [132]:
(1 == 1) and (1 == 2) and (1 == 1)

False

In [133]:
(1 == 1) and (1 == 2) and ((1 == 1) or (0 == 0))
# True and False and True

False

In [126]:
print("Yo soy\n Gabriel")

Yo soy
 Gabriel

In [134]:
if 1 != 1:
    print("Son iguales")
else:
    print("No entra en if")

No entra en if

In [135]:
if 1 == 1:
    print("Son iguales")
else:
    print("No entra en if")

Son iguales

In [136]:
if 1>3:
    print("Es mayor")
elif 2==2:
    print("Es igual")
elif 3==3:
    print("Es igual2")
else:
    print("Ninguna de las anteriores")

Es igual

In [137]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 2==2:
    print(2)
else:
    print("Segundo else")

Primer else
2

In [138]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 3==3:
    print(" 3 es 3 ")
if 2==2:
    print(2)
else:
    print("Segundo else")

Primer else
 3 es 3
2

In [139]:
if 2>3:
    print(1)
else:
    print("Primer else")
# -------
if 3==4:
    print(" 3 es 3 ")
# --------
if 2==2:
    print(2)
    print(5)
    x = 6
    print(x)
else:
    print("Segundo else")

Primer else
2
5
6

In [140]:
if 2>3:
    print(1)
else:
    print("Primer else")
# -------
if 3==4:
    print(" 3 es 3 ")
# --------
if 2==2:
    print(2)
    print(5)
    x = 6
    print(x)
    # ------
    if x == 7:
        print("X es igual a 6")
    # ------
    y = 7
    print(y)
else:
    print("Segundo else")

Primer else
2
5
6
7

In [144]:
if (not (1==1)):
    print("Hola")

In [145]:
if not None:
    print(1)

1

In [147]:
if "a":
    print(2)

2

In [150]:
if 0:
    print(0)

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

In [152]:
lista = []

if lista:
    print(4)

In [151]:
lista = ["1"]

if lista:
    print(4)

4

In [153]:
if 0.0:
    print(2)

In [154]:
if [] or False or 0 or None:
    print(4)

In [155]:
if [] and False or 0 or None:
    print(4)

In [156]:
if not ([] or False or 0 or None):
    print(4)

4

In [158]:
if [] or False or not 0 or None:
    print(True)
else:
    print(False)

True

In [161]:
x = True
y = False

x + y

1

In [162]:
x = True
y = False

str(x) + str(y)

'TrueFalse'

In [ ]:
t = True
f = False

In [1]:
2 == 2

True

In [2]:
l1 = [1, 2]
l2 = [1, 2]

l1 == l2

True

In [3]:
id(l1)

2297786405064

In [4]:
id(l2)

2297786349704

In [5]:
l1 == l2

True

In [6]:
2 is 2

True

In [7]:
id(2)

1568173568

In [8]:
l1 is l2

False

In [9]:
id("a")

2297719644712

In [10]:
"a" is "a"

True

In [11]:
h = "a"
g = "a"

In [12]:
h == g

True

In [13]:
id(h)

2297719644712

In [14]:
id(g)

2297719644712

In [15]:
h is g

True

In [16]:
id(2)

1568173568

In [17]:
b = 875757
id(b)

2297778325008

In [18]:
f = 875757
id(f)

2297789532912

In [19]:
b is f

False

In [20]:
d = 2
s = 2

id(d)

1568173568

In [21]:
id(s)

1568173568

In [ ]:
def funcion_condicion():
    if y > 4:
        print("Es mayor a 4")
    else:
        print("No es mayor a 4")

funcion_condicion(y=4)

In [ ]:
def funcion_primera(x):
    if x == 4:
        print("Es igual a 4")
    else:
        funcion_condicion(y=x)

funcion_primera(x=5)

In [ ]:
def funcion_final(apellido):
    if len(apellido) > 5:
        print("Cumple condición")
    else:
        print("No cumpole condición")

funcion_final(apellido="Vazquez")

# Bucles For, While

In [22]:
lista = [1, "dos", 3, "Pepito"] 

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

1
dos
3
Pepito

In [26]:
if 2 != 2:
    print(True)
    print(4)

In [29]:
lista = [1, "dos", 3, "Pepito"] 
for elnombrequequiera in lista:
    print(elnombrequequiera)
    print("-----")

1
-----
dos
-----
3
-----
Pepito
-----

In [34]:
# De esta forma NO muestra el 6
for g in [2, 4, 6, 8]:
    if g == 6:
        break
    print(g)
    print(8)
    print(9)
print("ESto está fuera del bucle")

2
8
9
4
8
9
ESto está fuera del bucle

In [35]:
# De esta forma muestra el 6 -- versión 1
for g in [2, 4, 6, 8]:
    if g == 8:
        break
    print(g)
    print(8)
    print(9)
print("ESto está fuera del bucle")

2
8
9
4
8
9
6
8
9
ESto está fuera del bucle

In [36]:
# De esta forma muestra el 6 -- versión 2
for g in [2, 4, 6, 8]:
    print(g)
    if g == 6:
        break
    print(8)
    print(9)
print("ESto está fuera del bucle")

2
8
9
4
8
9
6
ESto está fuera del bucle

In [37]:
# De esta forma muestra el 6 -- versión 3
for g in [2, 4, 6, 8]:
    if g > 6:
        break
    print(g)
    print(8)
    print(9)
print("ESto está fuera del bucle")

2
8
9
4
8
9
6
8
9
ESto está fuera del bucle

In [ ]:
# De esta forma solo muestra el 6 -- versión 4
for g in [2, 4, 6, 8]:
    if g == 6:
        print(g)
        break
    print(8)
    print(9)
print("ESto está fuera del bucle")

In [ ]:
==
!=
>
<
>=
<=
and
or
not

In [ ]:
# De esta forma solo muestra el 6 -- versión 4
for g in [2, 4, 6, 8]:
    if g == 6:
        print(g)
        break
    print(8)
    print(9)
print("ESto está fuera del bucle")

In [38]:
k = 1, 2
k

(1, 2)

In [39]:
file1 = "Primera Fila", ["Maria", "Angeles", "Juan"]
file1

('Primera Fila', ['Maria', 'Angeles', 'Juan'])

In [40]:
file1[1][1]

'Angeles'

In [41]:
# Intento Javier Gil
if type(x) == str:
    for x in lista:
      print(x)

NameError: name 'x' is not defined

In [44]:
# Intento Javier Gil solved
for x in lista:
    if type(x) == str:
        print(x)

dos
Pepito

In [ ]:
file1 = "Primera Fila", ["Maria", "Angeles", "Juan"]
file2 = "Segunda Fila", ["Marta", "Daniel", "Leo", "Miguel1", "Estela"]
file3 = "Tercera Fila", ["Kapil", "Roberto", "Alfonso", "Miguel2"]
fileR = "Remoto", ["Mar", "Alex", "Anais", "Antonio", "Ariadna", "Javi", "JaviOlcoz"]

In [46]:
altura1 = [1.78, 1.63, 1.75, 1.68]
altura2 = [2.00, 1.82]
altura3 = [1.65, 1.73, 1.75]
altura4 = [1.72, 1.71, 1.71, 1.62]

lista_alturas = [altura1, altura2, altura3, altura4]

print(lista_alturas[0][1])

for x in lista_alturas:
    print(x[3])

1.63
1.68

IndexError: list index out of range

In [4]:
lista_con_lista = [2, "4", "c", [0, "a"]]

print(lista_con_lista[3][1])

a

In [3]:
lista_con_lista[3][1] = "modificado"
lista_con_lista

[2, '4', 'c', [0, 'modificado']]

In [11]:
lista_con_lista = [2, "4", "c", (0, "a")]

tupla_lista = list(lista_con_lista[3])
lista_con_lista[3] = tupla_lista
lista_con_lista

[2, '4', 'c', [0, 'a']]

In [16]:
lista_con_lista = [2, "4", "c", [7, "a", 7]]

pos_7 = lista_con_lista[3].index(7)
pos_7

0

In [29]:
#for x in lista_con_lista:  # Valor

# for pos in range(len(lista_con_lista)):  # range funciona por posición

# for pos, val in enumerate(lista_con_lista):  # enumerate tanto por posición como valor
lista_con_lista = [2, "4", "c", [7, "a", 7]]

i = 0
for x in lista_con_lista:
    if i == 3:
        print("-------")
        print("pos de 7:", x.index(7))
        z += 1
    print(i, ":", x)
    i += 1

0 : 2
1 : 4
2 : c
-------
pos de 7: 0
3 : [7, 'a', 7]

In [48]:
altura1 = [1.78, 1.63, 1.75, 1.68]
altura2 = [2.00, 1.82]
altura3 = [1.65, 1.73, 1.75]
altura4 = [1.72, 1.71, 1.71, 1.62]

lista_alturas = [altura1, altura2, altura3, altura4]

print(lista_alturas[0][1])

for x in lista_alturas:
    if len(x) > 3: # La lista ha de tener 4 elementos
        print(x[3])

1.63
1.68
1.62

In [49]:
print(range(6))

range(0, 6)

In [50]:
type(range(6))

range

In [51]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [52]:
r = list(range(6))
for i in r:
    print(r)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

In [57]:
for i in range(6): # Ejecuta 6 iteraciones
    print(r)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5]

In [58]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [79]:
list(range(4))

[0, 1, 2, 3]

In [81]:
for i in range(4):  # bucle con 4 iteraciones
    s = input("Introduce letra:")
    print(s)

s
h
j
3

In [60]:
lista = ("juan", "pepito", "silvia", "6", 7)

tamano = len(lista)

for i in range(tamano):
    print(lista[i])

juan
pepito
silvia
6
7

In [ ]:
# Con range, creamos una colección que empieza en 0 hasta un número N. En ese caso, trabajamos con posiciones.

In [61]:
# enumerate

lista = ("juan", "pepito", "silvia", "6", 7)
for posicion, valor in enumerate(lista):
    print("position:", posicion)
    print("valor:", valor)
    print("-------")

position: 0
valor: juan
-------
position: 1
valor: pepito
-------
position: 2
valor: silvia
-------
position: 3
valor: 6
-------
position: 4
valor: 7
-------

In [63]:
k = 2, 7
k

(2, 7)

In [71]:
tupla = ("juan", "pepito", "silvia", "6", 7)
for k in enumerate(tupla):
    print(k)

(0, 'juan')
(1, 'pepito')
(2, 'silvia')
(3, '6')
(4, 7)

In [66]:
tupla = ("juan", "pepito", "silvia", "6", 7)
for pos, val in enumerate(tupla):
    print(pos)
    print(val)

0
juan
1
pepito
2
silvia
3
6
4
7

In [78]:
# continue
tupla = ("juan", "pepito", "silvia", "6", 7)
for x in tupla:  # O(n)
    if x == "silvia":
        continue  # continue salta a la siguiente iteración
    print(x)

juan
pepito
6
7

In [82]:
list(range(4))

[0, 1, 2, 3]

In [84]:
for i in range(4):  # Lo que haya debajo se ejecuta 4 veces
    print("Iteración ", i+1," del primer bucle")
    print("-------------------")

Iteración  1  del primer bucle
-------------------
Iteración  2  del primer bucle
-------------------
Iteración  3  del primer bucle
-------------------
Iteración  4  del primer bucle
-------------------

In [86]:
# bucle ejecutando todo N veces
# acumuladores

# Queremos que se muestren todos los elementos de tupla 4 veces excepto "silvia" la última iteración 

tupla = ("juan", "pepito", "silvia", "6", 7)

N = 4
for i in range(N):  # Lo que haya debajo se ejecuta 4 veces
    print("Iteración", i+1,"del primer bucle")
    print("-------------------")
    for x in tupla:  # Recorre cada valor de tupla y x tiene cada valor del elemento que se está recorriendo
        if x == "silvia" and i == (N - 1):
            continue  # continue salta a la siguiente iteración
        print(x)

print(2)

Iteración 1 del primer bucle
-------------------
juan
pepito
silvia
6
7
Iteración 2 del primer bucle
-------------------
juan
pepito
silvia
6
7
Iteración 3 del primer bucle
-------------------
juan
pepito
silvia
6
7
Iteración 4 del primer bucle
-------------------
juan
pepito
6
7

In [91]:
# bucle ejecutando todo N veces
# acumuladores

# Queremos que se muestren todos los elementos de tupla 4 veces excepto "silvia" la última iteración 

tupla = ("juan", "pepito", "silvia", "6", 7)

N = 4
for i in range(N):  # Lo que haya debajo se ejecuta 4 veces
    print("-------------------")
    print("Iteración", i+1,"del primer bucle")
    print("-------------------")
    for pos, x in enumerate(tupla):  # Recorre cada valor de tupla y x tiene cada valor del elemento que se está recorriendo
        if x == "silvia" and i == (N - 1):
            continue  # continue salta a la siguiente iteración
        print("~~~~~~~~~~")
        print("It", pos+1, "del segundo bucle")
        print("~~~~~~~~~~")
        print(x)

print(2)

-------------------
Iteración 1 del primer bucle
-------------------
~~~~~~~~~~
It 1 del segundo bucle
~~~~~~~~~~
juan
~~~~~~~~~~
It 2 del segundo bucle
~~~~~~~~~~
pepito
~~~~~~~~~~
It 3 del segundo bucle
~~~~~~~~~~
silvia
~~~~~~~~~~
It 4 del segundo bucle
~~~~~~~~~~
6
~~~~~~~~~~
It 5 del segundo bucle
~~~~~~~~~~
7
-------------------
Iteración 2 del primer bucle
-------------------
~~~~~~~~~~
It 1 del segundo bucle
~~~~~~~~~~
juan
~~~~~~~~~~
It 2 del segundo bucle
~~~~~~~~~~
pepito
~~~~~~~~~~
It 3 del segundo bucle
~~~~~~~~~~
silvia
~~~~~~~~~~
It 4 del segundo bucle
~~~~~~~~~~
6
~~~~~~~~~~
It 5 del segundo bucle
~~~~~~~~~~
7
-------------------
Iteración 3 del primer bucle
-------------------
~~~~~~~~~~
It 1 del segundo bucle
~~~~~~~~~~
juan
~~~~~~~~~~
It 2 del segundo bucle
~~~~~~~~~~
pepito
~~~~~~~~~~
It 3 del segundo bucle
~~~~~~~~~~
silvia
~~~~~~~~~~
It 4 del segundo bucle
~~~~~~~~~~
6
~~~~~~~~~~
It 5 del segundo bucle
~~~~~~~~~~
7
-------------------
Iteración 4 del primer bucle
-------------------
~~~~~~~~~~
It 1 del segundo bucle
~~~~~~~~~~
juan
~~~~~~~~~~
It 2 del segundo bucle
~~~~~~~~~~
pepito
~~~~~~~~~~
It 4 del segundo bucle
~~~~~~~~~~
6
~~~~~~~~~~
It 5 del segundo bucle
~~~~~~~~~~
7
2

In [99]:
lista = ["a", "b", "c", "d"]

for i in range(len(lista)):
    print(i, lista[i])

0 a
1 b
2 c
3 d

In [104]:
lista = ["a", "b", "c", "d"]
for i, x in enumerate(lista):
    print(i, x)

0 a
1 b
2 c
3 d

In [109]:
lista = ["a", "b", "c", "d"]
acum = 0
for x in lista:  # el valor del elemento
    print(acum, x)
    acum += 1

0 a
1 b
2 c
3 d

In [110]:
lista = ["a", "b", "c", "d"]
acum = -1
for x in lista:  # el valor del elemento
    acum += 1
    print(acum, x)

0 a
1 b
2 c
3 d

In [98]:
list(range(len(lista)))

[0, 1, 2, 3]

## Funciones

In [32]:
l = ["primer", 2, "tercer", 4]

if "tercer" in l:
    l.pop(0)
l

[2, 'tercer', 4]

In [33]:
l.remove(4)
l

[2, 'tercer']

In [36]:
l2 = [2, 3, 3, 3, 3, 3, 4]
for x in l2:
    if x == 3:
        l2.remove(x)
    print(l2)
l2

[2, 3, 3, 3, 3, 3, 4]
[2, 3, 3, 3, 3, 4]
[2, 3, 3, 3, 4]
[2, 3, 3, 4]

[2, 3, 3, 4]

In [39]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [38]:
l2 = [2, 3, 3, 3, 3, 3, 4]
for i in range(len(l2)):  # hará tantas iteraciones como elementos tenga l2
    if 3 in l2:
        l2.remove(3)
    print(l2)

[2, 3, 3, 3, 3, 4]
[2, 3, 3, 3, 4]
[2, 3, 3, 4]
[2, 3, 4]
[2, 4]
[2, 4]
[2, 4]

In [40]:
l2 = [2, 3, 3, 3, 3, 3, 4]
tamano = len(l2)
for i in range(tamano):
    print("tamaño:", tamano)
    if 3 in l2:
        l2.remove(3)
    print(l2)

tamaño: 7
[2, 3, 3, 3, 3, 4]
tamaño: 6
[2, 3, 3, 3, 4]
tamaño: 5
[2, 3, 3, 4]
tamaño: 4
[2, 3, 4]
tamaño: 3
[2, 4]
tamaño: 2
[2, 4]
tamaño: 2
[2, 4]

In [51]:
# La función retorna None por defecto
def nombre_funcion():
    print("Hola")
    x = 2
    print(x)
    return None

r = nombre_funcion()
print(r)

Hola
2
None

In [53]:
def nombre_funcion():
    print("Hola")
    x = 2
    print(x)
    return 7

r = nombre_funcion()
print(r)

Hola
2
7

In [62]:
def suma_2_argumentos(a, b):
    return int(a) + int(b)

lo_que_retorna = suma_2_argumentos(a="76", b=40)

print("lo_que_retorna:", lo_que_retorna)

lo_que_retorna: 116

In [67]:
l1 = [2, 6, "10"]
l2 = ["l", "aa"]

l3 = l1 + l2
l3

[2, 6, '10', 'l', 'aa']

In [68]:
def suma_2_argumentos(a, b):
    a = int(a)
    b = int(b)
    print(a)
    return a + b

lo_que_retorna = suma_2_argumentos(a="76", b=40)

print("lo_que_retorna:", lo_que_retorna)

r = suma_2_argumentos(a="8", b=40)

76
lo_que_retorna: 116
8

In [69]:
l = [2, 4]
l = int(l)
l

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [70]:
def suma_2_argumentos(a, b):
    a = int(a)
    b = int(b)
    print(a)
    return a + b

lo_que_retorna = suma_2_argumentos(a=[2,4], b=[3, 5, 7])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [73]:
def suma_2_argumentos(a, b):
    a = int(a)
    b = int(b)
    print(a)
    return a + b
    
lo_que_retorna = suma_2_argumentos(2, 6)

2

In [75]:
def suma_2_argumentos(a, b):
    """ Esto es la descripción de la función """
    a = int(a)
    b = int(b)
    return a + b

suma_2_argumentos(2,1)

3

In [77]:
def f():
    x = int(input())
    r = int(input())
    return x / r

f()

0.5

In [80]:
def add_element(lista, to_add):
    lista.append(to_add)

l = [2, 4, 6]
to_add = 9
add_element(lista=l, to_add=9)
print(l)

[2, 4, 6, 9]

In [87]:
# Todas las variables que están dentro de una función son borradas de memoria al terminar la ejecución de la función.
def k():
    x = 2
    y = 3
    m = 8

k()
print(m)

NameError: name 'm' is not defined

In [89]:
def k():
    x = 2
    y = 3
    m = 8
    return 7

lo_que_devuelve_k = k()
print(lo_que_devuelve_k)

7

In [92]:
def k():
    x = 2
    y = 3
    m = 8
    return 7

print(k())

7

In [95]:
def g(l):
    """ Devuelve True si la lista 'l' contiene un número mayor a 5 
    
    Args:
        l (list): Lista de elementos
    """
    for i in l:
        if i > 5:
            return True

lista = [2, 4, 5, 9, 999]
z = g(l=lista)
print(z)

True

In [100]:

acum += 1
acum

3

In [104]:
def s(l):
    """ Devuelve el número de veces que hay número mayor a 5 en la lista 'l'
    """
    acum = 0
    for i in l:
        if i > 5:
            acum = acum + 1
    return acum

lista = [2, 4, 5, 9, 999]
z = s(l=lista)
print(z)

2

In [ ]:
def p1(l):
    acum = 0
    for pos, val in enumerate(l):
        # if pos == 0:  # Esto se cumple en la primera iteración
        if pos == 2:  # Esto se cumple  en la tercera iteración
            break

lista = [2, 4, 5, 9, 999]
z = s(l=lista)
print(z)

In [115]:
lista3 = [2, 4, 5, 9, 999]
def p1(l):
    for pos, val in enumerate(l):
        if pos == len(l) - 1:  # Se cumple cuando sea la última iteración
            return 2
        else:
            print("True")

z = p1(l=lista3)
print(z)

True
True
True
True
2

In [118]:
def df(l):
    acum = 0
    return acum
    print(acum)
    for i in l:
        if i > 5:
            acum = acum + 1

lista = [2, 4, 5, 9, 999]
z = df(l=lista)
z

0

In [120]:
def df(l):
    acum = 0
    print(acum)
    for i in l:
        if i > 5:
            acum = acum + 1

lista = [2, 4, 5, 9, 999]
z = df(l=lista)
print(z)

0
None

In [124]:
# Función que retorne cuantos números hay mayores a 5 en los elementos de 'l'

l = ["Ana", "Dorado", ["m", 2], 7]

def r_n_m_5(l):
    acum = 0
    for elem in l:
        if type(elem) == int and elem > 5:
            print(elem)
            acum += 1
    return acum 

r_n_m_5(l=l)

7

1

In [129]:
def r_n_m_5(l):
    acum = 0
    for elem in l:
        if type(elem) == int:
            if elem > 5:
                print(elem)
                acum += 1
    return acum 

r_n_m_5(l=l)

7

1

In [127]:
# Función que retorne cuantos números hay mayores a 5 en los elementos de 'l'

l = ["Ana", "Dorado", ["m", 2], 7]

def r_n_m_5(l):
    acum = 0
    for elem in l:
        if isinstance(elem, int) and elem > 5:
            print(elem)
            acum += 1
    return acum 

r_n_m_5(l=l)

7

1

In [78]:
i = 2.2
print(type(i))
i = int(i)
print(type(i))
print(i)

<class 'float'>
<class 'int'>
2

In [ ]:
def mostrar_cada_elemento_de_lista(lista):
    for x in lista:
        print(x)

mostrar_cada_elemento_de_lista(lista=lista_alturas)

In [ ]:
mostrar_cada_elemento_de_lista(lista=lista)

In [ ]:
for x in lista_alturas:
    if len(x) > 2:
        print(x[2])
    else:
        print(x[1])

# Diccionarios

In [17]:
hola = "saludo internacional"

#clave/key = valor

diccionario = {"key":"valor"}
diccionario

{'key': 'valor'}

In [18]:
print(diccionario["key"])

valor

In [20]:
diccionario2 = {2:"este es el valor", 2:"este es el valor"}
diccionario2

{2: 'este es el valor'}

In [21]:
diccionario3 = {"gabvaztor@gmail.com":["password", "gabvaztor", 606122333, "C/Pepito", "Profesor"]}

diccionario3["gabvaztor@gmail.com"]

['password', 'gabvaztor', 606122333, 'C/Pepito', 'Profesor']

In [22]:
diccionario4 = {"juan": 8, "silvia":10, "juan2":9}

In [25]:
diccionario5 = {9.8:"S"}
diccionario5

{9.8: 'S'}

In [33]:
diccionario6 = {"gabvaztor@gmail.com":["password", "gabvaztor", 606122333, "C/Pepito", "Profesor"],
"juan@gmail.com":["password", "juan", 606142333, "C/Pepito", "Profesor"],
"silvia@gmail.com":["password", "silvia", 602122333, "C/Pepito", "Profesor"]}
diccionario6["silvia@gmail.com"]

['password', 'silvia', 602122333, 'C/Pepito', 'Profesor']

In [29]:
diccionario6["password"]

KeyError: 'password'

In [34]:
del diccionario6["gabvaztor@gmail.com"]
diccionario6

{'juan@gmail.com': ['password', 'juan', 606142333, 'C/Pepito', 'Profesor'],
 'silvia@gmail.com': ['password', 'silvia', 602122333, 'C/Pepito', 'Profesor']}

In [40]:
diccionario7 = {"k":"v", 8:[7,"y"], 6:{1.1:[5,"b"]}}
type(diccionario7[6][1.1][1])

str

In [42]:
list(diccionario7.keys())

['k', 8, 6]

In [43]:
diccionario7.keys()

dict_keys(['k', 8, 6])

In [46]:
diccionario7.values()

dict_values(['v', [7, 'y'], {1.1: [5, 'b']}])

In [47]:
list(diccionario7.values())

['v', [7, 'y'], {1.1: [5, 'b']}]

In [49]:
diccionario7

{'k': 'v', 8: [7, 'y'], 6: {1.1: [5, 'b']}}

In [48]:
for key in diccionario7.keys():
    print(key)

k
8
6

In [50]:
for value in diccionario7.values():
    print(value)

v
[7, 'y']
{1.1: [5, 'b']}

In [56]:
diccionario7

{'k': 'v', 8: [7, 'y'], 6: {1.1: [5, 'b']}}

In [55]:
for key, value in diccionario7.items():
    print(key, "--->", value)

k ---> v
8 ---> [7, 'y']
6 ---> {1.1: [5, 'b']}

In [57]:
for key, value in diccionario7.items():
    if (type(key) == int or type(key) == float) and key > 5:
        print(key, "--->", value)

8 ---> [7, 'y']
6 ---> {1.1: [5, 'b']}

In [61]:
for pos, (key, value) in enumerate(diccionario7.items()):
    print("Iteración número:", pos+1)
    print(key, "--->", value)
    print("#####################")

Iteración número: 1
k ---> v
#####################
Iteración número: 2
8 ---> [7, 'y']
#####################
Iteración número: 3
6 ---> {1.1: [5, 'b']}
#####################

In [65]:
lista = [2, 4, 6, "k"]
for pos, value in enumerate(lista):
    print("Iteración número:", pos)

Iteración número: 0
Iteración número: 1
Iteración número: 2
Iteración número: 3

In [76]:
lista = [2, 4, 6, "k"]
pos = 0
for value in lista:
    print("Iteración número:", pos)
    pos += 1
    print("Real valor de pos:", pos)
    print("#################")


print("Último valor de pos:", pos)

Iteración número: 0
Real valor de pos: 1
#################
Iteración número: 1
Real valor de pos: 2
#################
Iteración número: 2
Real valor de pos: 3
#################
Iteración número: 3
Real valor de pos: 4
#################
Último valor de pos: 4

In [78]:
# Creación de conjunto (set)

d = {3, 5, 1, "z", "a"}
d

{1, 3, 5, 'a', 'z'}

In [79]:
# Creación de diccionario

d = {"k": 2, "k2": [8, "p"]}
d

{'k': 2, 'k2': [8, 'p']}

In [80]:
# Acceder a un valor a través de una key
key_a_buscar = "k2"
d[key_a_buscar]

[8, 'p']

In [83]:
# Buscar/Mostrar todas las keys
list(d.keys())

['k', 'k2']

In [84]:
# Buscar/Mostrar todos los values
list(d.values())

[2, [8, 'p']]

In [86]:
# Buscar/Mostrar todos los keys/values
list(d.items())

[('k', 2), ('k2', [8, 'p'])]

In [87]:
k = 2, "g"
k

(2, 'g')

In [90]:
# Buscar en bucle todos los elementos

for key, value in d.items():
    if key == "k2":
        print(key, "-->", value)

k2 --> [8, 'p']

In [91]:
d

{'k': 2, 'k2': [8, 'p']}

In [94]:
# Recorrer la lista value de la clave "k2"
for key, value in d.items():
    if key == "k2":
        for x in value:
            print(x)

8
p

In [95]:
d

{'k': 2, 'k2': [8, 'p']}

In [96]:
# Borrar clave de diccionario
del d["k"]
d

{'k2': [8, 'p']}

In [98]:
# Actualizar/Modificar el valor asociado a una clave
d["k2"] = [8, "a"]
d

{'k2': [8, 'a']}

In [122]:
# Añadir un diccionario a otro

d1 = {8: [8, 9]}
d2 = {"a":"hola"}
d1.update(d2)

print(d1)

{8: [8, 9], 'a': 'hola'}

In [126]:
def suma_dos_valores(a, b):
    x = a + b
    return x

k = suma_dos_valores(a=9, b=1)
print(k)

k + 7

10

17

In [110]:
l = [2, 7]
l = l.append("a")
print(l)

None

In [119]:
def add_to_list(lista, to_add):
    lista.append(to_add)
    return lista
    
l = [2, 7]
l = add_to_list(lista=l, to_add=6)
print(l)

[2, 7, 6]

In [ ]:
def add_to_list(lista, to_add):
    lista.append(to_add)
    
l = [2, 7]
add_to_list(lista=l, to_add=6)
print(l)

In [100]:
d["k2"].append(3)
d

{'k2': [8, 'a', 3]}

In [131]:
l8 = [1,2]
d = {2: "h", "j":l8}
l = [5, "m", d]
l[-1]

{2: 'h', 'j': [1, 2]}

In [132]:
# Retornar más de un elemento

k = 2,  7
k

(2, 7)

In [133]:
k, j = 2, 7
print(k)
print(j)

2
7

In [137]:
k, j = 2, 7, 3
print(k)
print(j)

ValueError: too many values to unpack (expected 2)

In [138]:
k, j = [2, 0], (4, 7, "m")
print(k)
print(j)

[2, 0]
(4, 7, 'm')

In [149]:
def f():
    return 3, 6, 8

def cualquiercosa():
    return 5, 2, 3

def t():
    return 6, 2, 3

g, h = f(), cualquiercosa()
print(g)
print(h)

(3, 6, 8)
(5, 2, 3)

### Funciones con valores por defecto

In [165]:
# función con un parámetro

def nombre_funcion(param):
    return param

x = nombre_funcion(1)
x = nombre_funcion(param=1)
x

1

In [166]:
# Función con parámetro/valor por defecto

def nombre_funcion_por_defecto(param=2):
    return param

x = nombre_funcion_por_defecto()
x

2

In [169]:
def nombre_funcion_por_defecto(param=2):
    return param

x = nombre_funcion_por_defecto(param=7)
x

7

In [177]:
# Si un argumento de la función no tiene un valor por defecto, es obligatorio darle un valor al llamar a la función

# Si le damos un valor a un argumento de la función al ser llamada, ese valor tiene prioridad al valor por defecto 

def nombre_funcion_por_defecto(y, param=5):
    return param + y

x = nombre_funcion_por_defecto(4, 7)
x

11

In [182]:
def nombre_funcion_por_defecto(y=4, param=5):
    return param - y

x = nombre_funcion_por_defecto(param=7, y=8)
x

-1

In [187]:
def nombre_funcion_por_defecto(y=4, param=5):
    return param - y

x = nombre_funcion_por_defecto(param=2, y=4)
x

-2

In [205]:
def nombre_funcion_por_defecto(y, param=2, h=1, p=0):
    return param - y

x = nombre_funcion_por_defecto(3,6,h=1)
x

3

In [207]:
def nombre_funcion_por_defecto(y, param=2, h=1, p=0):
    return param - y

x = nombre_funcion_por_defecto(y=4, h=2)
x

-2

In [213]:
def nombre_funcion_por_defecto(y, param=2, h=1, p=0):
    if y == 2:
        return param - y
    else:
        return True

x = nombre_funcion_por_defecto(4, 2,)
x

True

In [212]:
lista = [2, 4, 6, 8,]
lista

[2, 4, 6, 8]

In [214]:
def gh(c=6):
    return c

In [218]:
def get_last_value_from_list(lista, position=-1):
    if len(lista) > 0:  # Si hay algún elemento
        return lista[position]
    else:
        return "No hay elementos"

lista = ["m", 2]
x = get_last_value_from_list(lista=lista)
print(x)

m

In [222]:
lista = [2, "8", [6, "joven"], "casa", "coche", "pepino", [9, 8]]

def muestra_todos_excepto_joven_casa_9(lista):
    for x in lista:
        if x == lista[2]:
            print(x[0])
        elif x == lista[3]:
            continue
        elif x == lista[-1]:
            print(x[1])
        else:
            print(x)

muestra_todos_excepto_joven_casa_9(lista=lista)

2
8
6
coche
pepino
8

# While

In [1]:
lista = [7, 5, "m", "Z"]

for elem in lista:
    print(elem)

7
5
m
Z

In [3]:
lista = [2, 4, 6, 8, 10]

contador = 0
for elem in lista:
    if elem > 5:
        #contador = contador + 1
        contador += 1
print(contador)

1
2
3

In [3]:
while True:
    print(5)
    break
print("Fuera del while")

5
Fuera del while

In [5]:
s = "Start"
while s == "Start":
    print("Entra en el while")
    s = input()
print("Fuera del while")

Entra en el while
Entra en el while
Fuera del while

In [6]:
password = "TB"
while True:
    s = input("Introduce la contraseña:")
    if s == password:
        print("Contraseña correcta")
        break
    else:
        print("Contraseña incorrecta")

Contraseña incorrecta
Contraseña incorrecta
Contraseña incorrecta
Contraseña incorrecta
Contraseña incorrecta
Contraseña incorrecta
Contraseña correcta

In [ ]:
password = "TB"
s = ""
while s != password:
    s = input("Introduce la contraseña:")
    if s == password:
        print("Contraseña correcta")
    else:
        print("Contraseña incorrecta")
print("Fuera del while")

In [10]:
contador = 0

while contador != 5:
    print(contador)
    contador += 1
print("Fuera del while")

0
1
2
3
4
Fuera del while

In [13]:
lista = ["a", "b", "c", "d"]

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

a
b
c
d

In [15]:
lista = ["a", "b", "c", "d"]

acum = 0
while acum < len(lista):
    if acum == 2:
        break
    print(lista[acum])
    acum += 1

a
b

In [ ]:
lista = ["a", "b", "c", "d"]

acum = 0
while True:
    if acum == 2:
        continue
    print(lista[acum])
    acum += 1

In [ ]:
# No ejecutar porque no para

lista = ["a", "b", "c", "d"]

acum = 0
while True:
    if acum == 0:
        continue
    print(8)
    break

In [18]:
import time

while True:
    print("Hola")
    time.sleep(3)
    print("Adios")
    break

Hola
Adios

In [20]:
lista = ["a", "b", "c", "d", "e"]

acum = 1
while 1 <= acum and acum <= 3:
    print(lista[acum])
    acum += 1

b
c
d

In [22]:
lista = ["a", "b", "c", "d", "e"]

acum = 1
while 1 <= acum and acum <= 3:
    if acum == 2:
        acum += 1
        continue
    print(lista[acum])
    acum += 1

b
d

In [23]:
lista = ["a", "b", "c", "d", "e"]

acum = 1
while 1 <= acum and acum <= 3:
    print(lista[acum])
    acum += 2

b
d

In [24]:
lista = ["a", "b", "c", "d", "e", "f"]

acum = 0
while acum < len(lista):
    print(lista[acum])
    acum += 2

a
c
e

In [26]:
lista = ["a", "b", "c", "d", "e", "f"]

acum = 1
while acum < len(lista):
    print(lista[acum])
    acum += 2

b
d
f

In [31]:
lista = ["a", "b", "c", "d", "e", "f"]

acum = 1
while acum >= 1 and acum <= len(lista) - 1:
    print(lista[acum])
    acum += 2

b
d
f

# Try Except

### Assert

In [33]:
assert (1==2), "mensaje"

AssertionError: mensaje