In [18]:
import sqlite3
import pandas as pd

In [19]:
dir_db= (r'C:\Users\andre\Desktop\The Bridge\ALUMNO\thebridgenov2020\SQL_taller\chinook.db')
conn=sqlite3.connect(dir_db)

In [20]:
#creamos el cursor
cursor = conn.cursor()

In [21]:
query = """
SELECT*
FROM tracks
"""

In [22]:
mi_query = cursor.execute(query)
mi_query = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [23]:
mi_query.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',),
 ('films',),
 ('new_table',),
 ('nueva_tabla',)]

In [24]:
pd.read_sql_query(query)

TypeError: read_sql_query() missing 1 required positional argument: 'con'