# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

2. Make a converter from dollars to euros. You'll have to use input.

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

5. Round `38.38276252728` to 5 decimal places.

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [13]:
x = "SI"
print(x.upper())

SI

In [14]:
peliculas_discount = ["Infiltrados", "El Padrino", "American Ganster"]

edad_cliente = int(input("¿Qué edad tienes?"))
pelicula_a_ver = input("¿Qué película vas a ver?")
retirado = input("¿Estás retirado?")
retirado = retirado.upper()

# Opción 2 a partir de String
if retirado == "SI" or retirado == "YES":
    retirado = True
else:
    retirado = False

# Las condiciones
#if edad_cliente >= 5 and edad_cliente <= 15:
if (5 <= edad_cliente <= 15):
    print("El precio son 5€")
elif retirado and pelicula_a_ver in peliculas_discount:
    print("El precio son 4€")
else:
    print("El precio son 7€")

In [ ]:
# Las condiciones
#if edad_cliente >= 5 and edad_cliente <= 15:
if (5 <= edad_cliente <= 15):
    print("El precio son 5€")
elif retirado:
    if pelicula_a_ver in peliculas_discount:
        print("EL precio son 4€")
    else: 
        print("El precio son 7€")
else:
    print("El precio son 7€")

In [ ]:
# Opción 1 a partir de String
retirado = (retirado == "SI") or (retirado == "YES")

# Opción 2 a partir de String
if retirado == "SI":
    retirado = True
else:
    retirado = False

In [ ]:
# Opción 1 para convertir a booleano "retirado" a partir de la edad
retirado = (edad_cliente >= 67)

# Opción 2 para convertir a booleano "retirado" a partir de la edad
if edad_cliente >= 67:
    retirado = True
else:
    retirado = False

# Opción 3 para convertir a booleano "retirado" a partir de la edad
retirado = False
if edad_cliente >= 67:
    retirado = True

In [19]:
lista = ['María Cagigas','Kapil Dadlani','Daniel del Valle','María del Mar Delgado Domínguez','Estela Falgas','Alfonso Garcia Mateo-Sagasta','Javier Gil Antuñano Foncillas','Juan Guerrero Enriquez','Antonio Leal','Miguel Merry del Val','Miguel','Marta Miñana','Roberto Molleda','Javier Olcoz','Ariadna Puigventos','Leonardo Sánchez Soler','Anais villegas', "Xeles"]

import random

alumno_aleatorio = random.choice(lista)
print(alumno_aleatorio)

Daniel del Valle

In [27]:
import random
lista_stu = ['María Cagigas','Kapil Dadlani','Daniel del Valle','María del Mar Delgado Domínguez','Estela Falgas','Alfonso Garcia Mateo-Sagasta','Javier Gil Antuñano Foncillas','Juan Guerrero Enriquez','Antonio Leal','Miguel Merry del Val','Miguel','Marta Miñana','Roberto Molleda','Javier Olcoz','Ariadna Puigventos','Leonardo Sánchez Soler','Anais villegas', "Xeles"]

def random_student(lista_alumnos):
    return random.choice(lista_alumnos)

s = random_student(lista_alumnos=lista_stu)
print(s)

Xeles

In [8]:
c = 6
d = 2
if c != 6:
    print("Algo")
elif d != 2:
    print("Prueba suerte")
elif d == 6:
    print(6)
elif c == 6:
    print("C es 6")
if d == 2:
    print(2)
else:
    print("Else")

C es 6
2

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

In [17]:

3 % 3 == 0

True

list(range(start, stop, incrementa))

In [ ]:
def rango(*args, **kwargs):

def rango(start=0, stop, inc=1)

In [26]:
print(list(range(0, 71, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [27]:
print(list(range(3)))

[0, 1, 2]

In [44]:
print(list(range(2, 71, 1)))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70]

In [46]:
list(range(3))

[0, 1, 2]

In [41]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

#for i in [0,1,2]:  # El for recoger el VALOR de la colección
for i in range(len(lista_a)):
    print("Valor de i:", i)
    print("lista_a[" + str(i) + "]-->", lista_a[i])
    print("lista_b[" + str(i) + "]-->",lista_b[i])
    print("----------------")

Valor de i: 0
lista_a[0]--> Mallorca
lista_b[0]--> España
----------------
Valor de i: 1
lista_a[1]--> Mérida
lista_b[1]--> Francia
----------------
Valor de i: 2
lista_a[2]--> Madrid
lista_b[2]--> Italia
----------------

In [42]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

contador = 0
for i in ["hola", "andrés", "jaime"]:  # El for recoger el VALOR de la colección
    print("Valor de contador:", contador)
    print("lista_a[" + str(contador) + "]-->", lista_a[contador])
    print("lista_b[" + str(contador) + "]-->",lista_b[contador])
    print("----------------")
    contador += 1

Valor de contador: 0
lista_a[0]--> Mallorca
lista_b[0]--> España
----------------
Valor de contador: 1
lista_a[1]--> Mérida
lista_b[1]--> Francia
----------------
Valor de contador: 2
lista_a[2]--> Madrid
lista_b[2]--> Italia
----------------

In [47]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]
lista_c = lista_a + lista_b
lista_c

['Mallorca', 'Mérida', 'Madrid', 'España', 'Francia', 'Italia']

In [48]:
list(range(len(lista_c)))

[0, 1, 2, 3, 4, 5]

In [50]:
#for i in [0, 1, 2, 3, 4, 5]:
for i in range(len(lista_c)):
    print(lista_c[i])

Mallorca
Mérida
Madrid
España
Francia
Italia

In [51]:
lista_a

['Mallorca', 'Mérida', 'Madrid']

In [52]:
lista_b

['España', 'Francia', 'Italia']

In [53]:
#for i in range(len(lista_a)):
for i in [0, 1, 2]:
    if i == 0:  # La primera iteración
        print(lista_a[i], ":", lista_b[i+1])
    elif i == 1:  # La segunda iteración
        print(lista_a[i], ":", lista_b[i-1])
    else:  # Es la tercera iteración    
        print(lista_a[i], ":", lista_b[i])

Mallorca : Francia
Mérida : España
Madrid : Italia

In [ ]:
lista_a = ["Mallorca", "Mérida", "Madrid"]
lista_b = ["España", "Francia", "Italia"]

#for i in range(len(lista_a)):
for i in [0, 1, 2]:
    if i == 0:  # La primera iteración
        print(lista_a[i], ":", lista_b[i+1])
    elif i == 1:  # La segunda iteración
        print(lista_a[i], ":", lista_b[i-1])
    elif i == 2:  # La tercera iteración
        print(lista_a[i], ":", lista_b[i])

In [54]:
print(lista_a)
print(lista_b)

['Mallorca', 'Mérida', 'Madrid']
['España', 'Francia', 'Italia']

In [55]:
lista_d = lista_b + ["Cuenca"]
lista_d

['España', 'Francia', 'Italia', 'Cuenca']

In [58]:
#for i in range(len(lista_a)):
for i in [0, 1 ,2]:
    print(lista_a[i])
    print(lista_d[i+1])

Mallorca
Francia
Mérida
Italia
Madrid
Cuenca

In [30]:
rango = list(range(71))

for x in rango:
    #if (x % 3 == 0) and (x % 5 == 0):
    if (x % 3 == 0) or (x % 5 == 0):
        print(x)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70

In [7]:
# acumulador / contador 

lista_a = ['Mallorca', 'Mérida', 'Madrid']
lista_b = ['España', 'Francia', 'Italia']

acum = 0
# for i in [0, 1, 2]:
for i in range(len(lista_a)):
    print(lista_a[acum])
    acum += 1
    
print(acum)

Mallorca
Mérida
Madrid
3

In [11]:
# acumulador / contador 

lista_a = ['Mallorca', 'Mérida', 'Madrid']
lista_b = ['España', 'Francia', 'Italia']

acum = 0
while acum < len(lista_a):
    print(lista_a[acum])
    acum += 1
    
print(acum)

Mallorca
Mérida
Madrid
3

In [14]:
lista_a = ['Mallorca', 'Mérida', 'Madrid']
lista_b = ['España', 'Francia', 'Italia']

acum = 0
try:
    while True:
        print(lista_a[acum])
        acum += 1
except:
    print("Acum vale 3 o más")
    #print(lista_a[acum])
    
print(acum)

Mallorca
Mérida
Madrid
Acum vale 3 o más

IndexError: list index out of range

In [17]:
lista_a = ['Mallorca', 'Mérida', 'Madrid']
lista_b = ['España', 'Francia', 'Italia']

acum = 0
for elem in lista_a:
    print(elem)
    print(lista_b[acum])
    acum = acum + 1

Mallorca
España
Mérida
Francia
Madrid
Italia

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [25]:
for i in range(1, 10):
    r = str(i) * i
    print(r)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [24]:
for i in range(1, 10):
    s = ""
    for j in range(0, i):
        s = s + str(i)
    print(s)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [22]:
"2" * 3

'222'

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

In [30]:
a = [6, 9, 7]
b = [9, 3, 6]

for x, y in enumerate(a):
    for z, w in enumerate(b):
        if x == z:  # Las posiciones que se están recorriendo sean las mismas
            if x == 0:
                p1 = y + w
            elif x == 1:
                p2 = y + w
            else: 
                p3 = y + w

new_list = [p1, p2, p3]
new_list

[15, 12, 13]

In [33]:
a = [6, 9, 7]
b = [9, 3, 6]

acum = 0
for elem in a:
    print(a[acum])
    print(b[acum])
    print("--------")
    acum += 1

6
9
--------
9
3
--------
7
6
--------

In [35]:
a = [6, 9, 7]
b = [9, 3, 6]
new_list = []

# for acum in [0, 1, 2]:
for acum in range(len(a)):
    print(a[acum])
    print(b[acum])
    new_list.append(a[acum] + b[acum])
    print(new_list)
    print("--------")

6
9
[15]
--------
9
3
[15, 12]
--------
7
6
[15, 12, 13]
--------

In [36]:
a = [6, 9, 7]
b = [9, 3, 6]
new_list = []

# for acum in [0, 1, 2]:
for acum in range(len(a)):
    new_list.append(a[acum] + b[acum])
print(new_list)

[15, 12, 13]

In [37]:
s = random_student(lista_alumnos=lista_stu)
print(s)

Kapil Dadlani

4. Get first, second best scores from the list.
List contains duplicates.

In [43]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]

In [45]:
scores.sort()
print(scores)
scores.reverse()
print(scores)

[0, 1, 2, 23, 45, 83, 84, 85, 85, 85, 86, 86]
[86, 86, 85, 85, 85, 84, 83, 45, 23, 2, 1, 0]

In [46]:
list(range(len(scores)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [51]:

print(scores[0])
for i in range(len(scores)):
    if scores[i] == scores[0]:
        continue
    else: 
        print(scores[i])
        break

86
85

In [53]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]
print(set(scores))

{0, 1, 2, 45, 83, 84, 85, 86, 23}

In [58]:
print(id(23))
print(id(22))
print(id(24))

1761636512
1761636480
1761636544

In [59]:
print(id(86))

1761638528

In [60]:
for x in scores:
    print(hash(x))

86
86
85
85
85
83
23
45
84
1
2
0

In [69]:
s = list(set(scores))
s

[0, 1, 2, 45, 83, 84, 85, 86, 23]

In [66]:
s = list(set(scores))
s.sort()
s.reverse()
print(s[0])
print(s[1])

86
85

In [67]:
for i in range(2):
    print(s[i])

86
85

In [68]:
acum = 0
while acum < 2:
    print(s[acum])
    acum += 1

86
85

In [75]:
l = [2, 3, 5, 8]
for i in range(len(l)):
    if i == 2: 
        pass
    else:
        print(l[i])
    print("IT")

2
IT
3
IT
IT
8
IT

In [76]:
l = [1515, 30000, -35]
l = list(set(l))
l

[30000, 1515, -35]

In [77]:
l = [1515, 30000, -35, "z", "a", "h"]
l = list(set(l))
l

[1515, 30000, 'z', 'a', -35, 'h']

In [2]:
# Diferencias break, pass, continue

# Continue: Salta a la siguiente iteración
for i in range(5):
    if i == 1:
        continue
    print(i)

0
2
3
4

In [3]:
# Break: Para el bucle TOTALMENTE
for i in range(5):
    if i == 1:
        break
    print(i)

0

In [4]:
# Pass: no hace nada, sigue adelante de forma normal
for i in range(5):
    if i == 1:
        pass
    print(i)

0
1
2
3
4

In [7]:
# ¿Por qué pass?

def get_data():
    """ Para obtener datos TODO(@gabvaztor) """
    data = []
    return data

def clean_data():
    pass

def draw_data():
    pass

get_data()

[]

In [12]:
print("Ho\nla")

Ho
la

In [13]:
print(r"Ho\nla")

Ho\nla

In [14]:
name = "Bob"
'Hello, %s' % name

'Hello, Bob'

In [16]:
errno = 51531351
'Hey %s, there is a 0x%x error!' % (name, errno)

'Hey Bob, there is a 0x3124e57 error!'

In [17]:
name = "Bob"
'Hello, {}'.format(name)

'Hello, Bob'

In [18]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

'Five plus ten is 15 and not 30.'

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [19]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, "Television", 1000, "Laptop Case", "Camera Lens"]

In [30]:
strings = [s for s in gadgets if type(s) == str]
strings

['Mobile',
 'Laptop',
 'Camera',
 'Speakers',
 'Television',
 'Laptop Case',
 'Camera Lens']

In [26]:
numbers = []
strings = []

for x in gadgets:
    if type(x) == int or type(x) == float:
        numbers.append(x)
    elif type(x) == str:
        strings.append(x)

print(numbers)
print("--------")
print(strings)

[100, 310.28, 27.0, 1000]
--------
['Mobile', 'Laptop', 'Camera', 'Speakers', 'Television', 'Laptop Case', 'Camera Lens']

In [ ]:
numbers = []
strings = []

for x in gadgets:
    if type(x) == int or type(x) == float:
        numbers.append(x)
    else:
        strings.append(x)

print(numbers)
print("--------")
print(strings)

In [29]:
for x in gadgets:
    if type(x) == int or type(x) == float:
        print(x)
print("---------") 
for x in gadgets:
    if type(x) == str:
        print(x)

100
310.28
27.0
1000
---------
Mobile
Laptop
Camera
Speakers
Television
Laptop Case
Camera Lens

In [31]:
strings

['Mobile',
 'Laptop',
 'Camera',
 'Speakers',
 'Television',
 'Laptop Case',
 'Camera Lens']

In [32]:
# Ordenar de forma ascendente

strings.sort()
strings

['Camera',
 'Camera Lens',
 'Laptop',
 'Laptop Case',
 'Mobile',
 'Speakers',
 'Television']

In [33]:
strings.reverse()
strings

['Television',
 'Speakers',
 'Mobile',
 'Laptop Case',
 'Laptop',
 'Camera Lens',
 'Camera']

In [38]:
numbers = [k for k in gadgets if type(k) == int or type(k) == float]
numbers

[100, 310.28, 27.0, 1000]

In [40]:
numbers.sort()
numbers

[27.0, 100, 310.28, 1000]

In [41]:
numbers.sort(reverse=True)
numbers

[1000, 310.28, 100, 27.0]

In [ ]:
strings.sort(reverse=False)
strings

In [36]:
def sort(lista, reverse=False):
    lista.sort()
    if reverse:
        lista.reverse()
    return lista

l = [2, 6, 1, 0]
sort(lista=l, reverse=True)

[6, 2, 1, 0]

In [34]:
numbers

[]

In [21]:
print(gadgets)

['Mobile', 'Laptop', 100, 'Camera', 310.28, 'Speakers', 27.0, 'Television', 1000, 'Laptop Case', 'Camera Lens']

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

In [42]:
lista_aliens = ["r", "g", "b"]

l_aliens = []

for i in range(10):
    if i % 2 == 0:  # i es par
        l_aliens.append("r")
    elif i % 3 == 0: # i es divisible entre 3
        l_aliens.append("g")
    else:
        l_aliens.append("b")
l_aliens

['r', 'b', 'r', 'g', 'r', 'b', 'r', 'b', 'r', 'g']

In [43]:
acum = 0
for alien in l_aliens:
    if alien == "r":
        # 5 puntos
        acum = acum + 5
    elif alien == "g":
        # 10 puntos
        acum = acum + 10
    else: 
        # 20 puntos
        acum = acum + 20
print(acum)

105

In [44]:
l_aliens

['r', 'b', 'r', 'g', 'r', 'b', 'r', 'b', 'r', 'g']

In [45]:
# ESTO NO ACTUALIZA ACUM
acum = 0
for alien in l_aliens:
    if alien == "r":
        # 5 puntos
        print(acum + 5)
    elif alien == "g":
        # 10 puntos
        print(acum + 10)
    else: 
        # 20 puntos
        print(acum + 20)
print(acum)

5
20
5
10
5
20
5
20
5
10
0

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [46]:
a = 2
b = 4
def suma_dos_numeros(a, b):
    print(a + b)

suma_dos_numeros(a=6, b=15)

21

In [47]:
def suma_dos_numeros(a, b):
    print(a + b)

r = suma_dos_numeros(a=6, b=15)
print(r)

21
None

In [51]:
a = 2
b = 4
def suma_dos_numeros():
    print(a + b)

suma_dos_numeros()

6

In [52]:
a = 2
b = 4
def suma_dos_numeros():
    x = 7
    y = 3
    print(a + b)

suma_dos_numeros()
print(x + y)

6

NameError: name 'y' is not defined

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)