## Working on Jsons

In [2]:
import requests
import json
import pandas as pd

### Data Mining & Data Wrangling
As you can see, there are jsons inside the original json. For that, we have to mining the json (data mining) to be able to use it correctly (data wrangling). 

How do you solve this issue? Research about this and try a solution.

In [3]:
r = requests.get(url='http://data.nba.net/prod/v2/2018/teams.json')
json_readed = json.loads(r.text)

In [4]:
with open('data_NBA.json', 'w+') as outfile:
    json.dump(json_readed, outfile)

In [5]:
print(json_readed.keys())
print(json_readed["league"].keys())

league_dict = dict.fromkeys(json_readed["league"], )
print( 'League is:' + str(league_dict))

dict_keys(['_internal', 'league'])
dict_keys(['standard', 'africa', 'sacramento', 'vegas', 'utah'])
League is:{'standard': None, 'africa': None, 'sacramento': None, 'vegas': None, 'utah': None}

In [6]:
with open('data_NBA_standard.json', 'w+') as outfile:
    json.dump(json_readed["league"]['standard'], outfile)
with open('data_NBA_africa.json', 'w+') as outfile:
    json.dump(json_readed["league"]['africa'], outfile)
with open('data_NBA_sacramento.json', 'w+') as outfile:
    json.dump(json_readed["league"]['sacramento'], outfile)
with open('data_NBA_vegas.json', 'w+') as outfile:
    json.dump(json_readed["league"]["vegas"], outfile)
with open('data_NBA_utah.json', 'w+') as outfile:
    json.dump(json_readed["league"]["utah"], outfile)

In [7]:
df_1 = pd.read_json('data_NBA_standard.json')
df_2 = pd.read_json('data_NBA_africa.json')
#df_3 = pd.read_json('data_NBA_sacramento')
df_4 = pd.read_json('data_NBA_vegas.json')
df_5 = pd.read_json('data_NBA_utah.json')

with open('data_NBA_sacramento.json') as f:
   sacramento = json.load(f)

df_3 = pd.DataFrame(sacramento)
df_3

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,True,False,Golden State,Golden State,Golden State Warriors,GSW,1610612744,Warriors,warriors,Sacramento,
1,True,False,Los Angeles,Los Angeles Lakers,Los Angeles Lakers,LAL,1610612747,Lakers,lakers,Sacramento,
2,True,False,Miami,Miami,Miami Heat,MIA,1610612748,Heat,heat,Sacramento,
3,True,False,Sacramento,Sacramento,Sacramento Kings,SAC,1610612758,Kings,kings,Sacramento,

In [8]:
final_df = pd.concat([df_1,df_2,df_3,df_4,df_5])
final_df

,isNBAFranchise,isAllStar,city,altCityName,fullName,tricode,teamId,nickname,urlName,confName,divName
0,False,True,USA,USA,USA,USA,1610616843,USA,usa,East,East
1,False,True,World,World,World,WLD,1610616844,World,world,East,East
2,False,True,Team,Team,All-Stars,EST,1699999999,All-Stars,assn_away,East,East
3,False,True,Team,Team,All-Stars,WST,1699999998,All-Stars,assn_home,West,West
4,False,True,Team Giannis,Team Giannis,Team Giannis,GNS,1610616833,Team Giannis,team_giannis,East,East
...,...,...,...,...,...,...,...,...,...,...,...
29,True,False,Washington,Washington,Washington Wizards,WAS,1610612764,Wizards,wizards,summer,
0,True,False,Atlanta,Atlanta,Atlanta Hawks,ATL,1610612737,Hawks,hawks,Utah,
1,True,False,Memphis,Memphis,Memphis Grizzlies,MEM,1610612763,Grizzlies,grizzlies,Utah,
2,True,False,San Antonio,San Antonio,San Antonio Spurs,SAS,1610612759,Spurs,spurs,Utah,
3,True,False,Utah,Utah,Utah Jazz,UTA,1610612762,Jazz,jazz,Utah,