# Python | day 2 | collections

List, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp
    
    Thanks Antonio!

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 
    - 4 differents lists containing the names of the classmates sitting on each table of the class plus the ones following the class on remote.  
    
If you're not in class anymore and you don't remember how the class was distributed, use the names of your classmates and make 4 different lists with them.

Print both created lists.

In [23]:
table1_students = ["Ana", "Javier", " Mario", "Jesus", "Susana"]
table2_students = ["Jose", "Alberto", "Belinda", "Gabriel", "Borja"]
table3_students = ["Data", "Chema", "Palomer", "Andrea", "Rodrigo"]
remote_students = ["Miriam", "Veronica", "Elena", "Luis"]

student_list = table1_students + table2_students + table3_students + remote_students
print (student_list)

['Ana', 'Javier', ' Mario', 'Jesus', 'Susana', 'Jose', 'Alberto', 'Belinda', 'Gabriel', 'Borja', 'Data', 'Chema', 'Palomer', 'Andrea', 'Rodrigo', 'Miriam', 'Veronica', 'Elena', 'Luis']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [24]:
empty_list = []
print (empty_list)

[]

2. Create a list with 5 items, call it **my_list**

In [25]:
my_list = ["portatil", "movil", "llaves", "cartera", "cuaderno" ]

3. Find the length of **my_list**

In [26]:
print (len(my_list))

5

4. Get the first item, the middle item and the last item of **my_list**

In [27]:
first_item = my_list [0]
middle_item = my_list [2]
last_item = my_list [-1]
print (f'First item: {first_item}\nMiddle: {middle_item}\nLast: {last_item}')

First item: portatil
Middle: llaves
Last: cuaderno

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [28]:
name = "Andreea"
age = 37
height = 1.67
country = "Espana"
python_version = 3.9

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [29]:
mixed_data_types = [name,age,height, country, python_version]
mixed_data_types

['Andreea', 37, 1.67, 'Espana', 3.9]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [30]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [31]:
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

9. Print the number of companies in the list

In [32]:
print (len(it_companies))

7

11. Print *Google*

In [33]:
print (it_companies[1])

Google

10. Print the first, middle and last company

In [34]:
print (it_companies[0],it_companies[3],it_companies[-1],)

Facebook Apple Amazon

11. Assign a new value to the last element of the list

In [35]:
print (it_companies.pop(-1))
it_companies.append("AT and T")
print(it_companies)

Amazon
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'AT and T']

12. Print the list after modifying one of the companies

In [36]:
print (it_companies)
it_companies [4] = "Pineapple"
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'AT and T']
['Facebook', 'Google', 'Microsoft', 'Apple', 'Pineapple', 'Oracle', 'AT and T']

## Bonus track.

13. Add an IT company to **it_companies**

In [37]:
it_companies.append ("Lenovo")
print (it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Pineapple', 'Oracle', 'AT and T', 'Lenovo']

14. Check if *Apple* exists in the **it_companies** list.

In [38]:
if "Apple" in it_companies:
    print ("Apple exists in the list")

Apple exists in the list

15. Sort the list using `sort()` method

In [39]:
it_companies.sort()
print (it_companies)

['AT and T', 'Apple', 'Facebook', 'Google', 'Lenovo', 'Microsoft', 'Oracle', 'Pineapple']

16. Reverse the list in descending order using `reverse()` method

In [40]:
it_companies.reverse()
print (it_companies)

['Pineapple', 'Oracle', 'Microsoft', 'Lenovo', 'Google', 'Facebook', 'Apple', 'AT and T']

17. Slice out the first 3 companies from the list

In [41]:
print(it_companies[0:3])

['Pineapple', 'Oracle', 'Microsoft']

18. Remove the last IT company from the list

In [42]:
it_companies.pop()
print (it_companies)

['Pineapple', 'Oracle', 'Microsoft', 'Lenovo', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [43]:
it_companies.clear()
print (it_companies)

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [44]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
end = front_end + back_end
print (end)

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [45]:
print (end[0][0])

HTML

22. From the end list print the 'C' from the word 'CSS'

In [46]:
print (end[0][1][0])

C

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [47]:
# we can create a tupla with just one element.
tup = (3,)
print (type(tup))

<class 'tuple'>

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [55]:
print (type(tup))

<class 'tuple'>

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [48]:
# we can't modify the tuple type

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [49]:
# we can't modify an existing tuple

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [50]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [57]:
my_set = set(lista_repes)
print (my_set)

{'python', 'data', 'clara', 'diomedes', 'science', 'gabriel'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [58]:
print (type(my_set))

<class 'set'>

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [53]:
my_set = list(my_set)
print (my_set)

['python', 'data', 'clara', 'diomedes', 'science', 'gabriel']

In [54]:
print (my_set[0])

python