# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [25]:
print ("ana");print("maria")
print ("javier", "mario", "alberto", sep="\t")

ana
maria
javier	mario	alberto

2. Make a converter from dollars to euros. You'll have to use input.

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [26]:
my_name = "Andreea"
my_lastname = "Mangar"
age = 37

def greet():
    return f"Hello, {my_name} {my_lastname}! Your age is {age} years"
greet()

'Hello, Andreea Mangar! Your age is 37 years?'

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [27]:
lista_numeros = [4,7, -3]

def sum(lista_numeros):
    laSuma = 0
    for i in lista_numeros:
        laSuma = laSuma + i
    return laSuma
print("Suma:"),print(sum(lista_numeros))
print('Máximo:',max(lista_numeros))
print('Mímino:',min(lista_numeros))

Suma:
8
Máximo: 7
Mímino: -3

5. Round `38.38276252728` to 5 decimal places.

In [28]:
print (round (38.38276252728 , 5 ))

38.38276

6. Make the phrase `"Born to be wild"` uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [29]:

phrase = "Born to be wild"
print (phrase.upper())
print (phrase.lower())


phrase_split = phrase.split ()
print (phrase_split)
string = "wild"

new_phrase = []
for string in phrase_split:
    phrase_split = string.replace("wild","Geek")
    new_phrase.append(phrase_split)
print (new_phrase)

BORN TO BE WILD
born to be wild
['Born', 'to', 'be', 'wild']
['Born', 'to', 'be', 'Geek']

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [15]:

a = int(input("Please enter first number:"))
b = int(input("Please enter second number:"))
c = True
d = False

if a > b:
    print("The numbers are the same:", c)
elif a < b:
    print("The numbers are the same:", c)
else:
    print("The numbers are the same:", d)

The numbers are the same: True

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

### Exercise 1 - For

If you find a way of solving any of these questions below without using for loop, don't hesitate to do it.

1. Prints the numbers between 0 and 70 that are multiples of 3 and 5.

2. Print the following pattern:

```python
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

In [19]:
list = [1,22,33,4444,55555,666666,7777777,88888888,999999999]

for i in list(len):
    if i= i + 1
    print(list[i]

SyntaxError: invalid syntax (<ipython-input-19-5b6244bcfee2>, line 4)

3. Given to list of same lenght, create a third list which contains the sum of both of the list, element by element.

```python
Example: 
a = [1,2]
b = [4,5]
new_list = [5,7]
```

4. Get first, second best scores from the list.
List contains duplicates.

In [9]:
scores = [86,86,85,85,85,83,23,45,84,1,2,0]
best_scores =[]


def sum(lista_numeros):
    for i in scores:
     a= max(scores)
     i+=1
     b= max(scores)
    print(a,b)

sum()

TypeError: sum() missing 1 required positional argument: 'lista_numeros'

5. From the given list:
    
    a) Create separate lists of strings and numbers.

    b) Sort the strings' list in ascending order

    c) Sort the strings' list in descending order

    d) Sort the number's list from lowest to highest

    e) Sort the number's list from highest to lowest

In [31]:
gadgets = ["Mobile", "Laptop", 100, "Camera", 310.28, "Speakers", 27.00, 
           "Television", 1000, "Laptop Case", "Camera Lens"]

6. Make a list of ten aliens, each of which is one color: 'red', 'green', or 'blue'.
    - You can shorten this to 'r', 'g', and 'b' if you want, but if you choose this option you have to include a comment explaining what r, g, and b stand for.
    - Red aliens are worth 5 points, green aliens are worth 10 points, and blue aliens are worth 20 points.
    - Use a for loop to determine the number of points a player would earn for destroying all of the aliens in your list.

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

4. Create a Python program that calculates the factorial of a number.

The program will ask the user to enter a number (input) and will return the factorial of that number.

5. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)