# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [5]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [6]:
chipo = pd.read_csv(address, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Name of the max valued product

In [4]:
chipo_sorted = chipo.sort_values("item_price", ascending=False)
chipo_sorted

,order_id,quantity,item_name,choice_description,item_price
2624,1042,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Sour Cream,...",$9.39
4419,1762,1,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$9.39
4036,1615,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Chees...",$9.39
1825,738,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$9.39
3115,1243,1,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",$9.39
...,...,...,...,...,...
3145,1254,1,Canned Soda,[Diet Dr. Pepper],$1.09
414,180,1,Canned Soda,[Dr. Pepper],$1.09
3162,1262,1,Canned Soda,[Coca Cola],$1.09
821,338,1,Canned Soda,[Coca Cola],$1.09
1457,591,1,Canned Soda,[Sprite],$1.09

In [19]:
to_string_dollar = lambda x: str("$" + str(x))
chipo.item_price = chipo.item_price.apply(to_string_dollar)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [20]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [21]:
chipo.item_price = chipo.item_price.str[1:].astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [27]:
max(chipo.item_price)

44.25

In [29]:
index = chipo.item_price.idxmax()
print(index)

3598

In [31]:
indexes = [i for i, x in enumerate(chipo.item_price) if x == max(chipo.item_price)]
indexes

[3598]

In [32]:
x = chipo.item_price[chipo.item_price == max(chipo.item_price)]
x

3598    44.25
Name: item_price, dtype: float64

In [34]:
s = chipo.item_name[chipo.item_price == 8.75]
s

11      Chicken Crispy Tacos
12        Chicken Soft Tacos
19              Chicken Bowl
35        Chicken Soft Tacos
36        Chicken Soft Tacos
                ...
4599            Chicken Bowl
4604            Chicken Bowl
4615      Chicken Soft Tacos
4620      Chicken Salad Bowl
4621      Chicken Salad Bowl
Name: item_name, Length: 730, dtype: object

In [7]:
to_float = lambda x: float(x[1:])
chipo.item_price = chipo.item_price.apply(to_float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [6]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [36]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 4. How many products cost more than $10.00?

In [73]:
products = chipo.item_name[(chipo.item_price > 10.0) & (chipo.item_price < 12.0)]
products.nunique()

27

In [74]:
products = chipo.item_name[(chipo.item_price > 10.0)]
products.nunique()

31

In [72]:
(chipo.item_price > 10.0).any() and (chipo.item_price < 12.0).any()

True

In [50]:
c = chipo.item_price > 10.0
c.values

array([False, False, False, ...,  True, False, False])

In [48]:
products.nunique()

27

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [76]:
chipo.iloc[:,2:5:2]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [84]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
mean                  4622 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [77]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [81]:
x = chipo.groupby("item_name").min()
x

,order_id,quantity,choice_description,item_price
item_name,,,,
6 Pack Soft Drink,129,1,[Coke],6.49
Barbacoa Bowl,19,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, R...",8.69
Barbacoa Burrito,11,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.69
Barbacoa Crispy Tacos,75,1,"[Fresh Tomato Salsa, Guacamole]",8.99
Barbacoa Salad Bowl,501,1,"[Fresh Tomato Salsa, Guacamole]",9.39
Barbacoa Soft Tacos,26,1,"[Fresh Tomato Salsa, [Black Beans, Cheese, Let...",8.99
Bottled Water,17,1,NaN,1.09
Bowl,193,1,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
Burrito,214,1,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
Canned Soda,9,1,[Coca Cola],1.09
Canned Soft Drink,114,1,[Coke],1.25
Carnitas Bowl,17,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",8.99
Carnitas Burrito,14,1,"[Fresh Tomato (Mild), [Lettuce, Black Beans, G...",8.69
Carnitas Crispy Tacos,230,1,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",8.99
Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
Carnitas Salad Bowl,468,1,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",9.39
Carnitas Soft Tacos,103,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
Chicken Bowl,2,1,"[Fresh Tomato (Mild), [Guacamole, Rice]]",8.19
Chicken Burrito,8,1,"[Fresh Tomato (Mild), [Black Beans, Rice, Sour...",8.19
Chicken Crispy Tacos,6,1,"[Fresh Tomato Salsa (Mild), Fajita Veggies]",8.49
Chicken Salad,109,1,"[Fresh Tomato Salsa (Mild), Black Beans]",8.19
Chicken Salad Bowl,20,1,"[Fresh Tomato Salsa, Fajita Vegetables]",8.75
Chicken Soft Tacos,6,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
Chips,19,1,NaN,1.99
Chips and Fresh Tomato Salsa,1,1,NaN,2.29
Chips and Guacamole,5,1,NaN,3.89
Chips and Mild Fresh Tomato Salsa,279,1,NaN,3.00
Chips and Roasted Chili Corn Salsa,102,1,NaN,2.95
Chips and Roasted Chili-Corn Salsa,85,1,NaN,2.39
Chips and Tomatillo Green Chili Salsa,18,1,NaN,2.95
Chips and Tomatillo Red Chili Salsa,49,1,NaN,2.95
Chips and Tomatillo-Green Chili Salsa,1,1,NaN,2.39
Chips and Tomatillo-Red Chili Salsa,130,1,NaN,2.39
Crispy Tacos,217,1,[Adobo-Marinated and Grilled Chicken],7.40
Izze,1,1,[Blackberry],3.39
Nantucket Nectar,1,1,[Apple],3.39
Salad,575,1,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
Side of Chips,3,1,NaN,1.69
Steak Bowl,25,1,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Pin...",8.69
Steak Burrito,4,1,[Brown Rice],8.69
Steak Crispy Tacos,40,1,"[Fresh Tomato (Mild), [Lettuce, Cheese]]",8.69
Steak Salad,276,1,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",8.69
Steak Salad Bowl,123,1,"[Fresh Tomato Salsa, Lettuce]",9.39
Steak Soft Tacos,4,1,"[Fresh Tomato Salsa (Mild), [Cheese, Sour Cream]]",8.99
Veggie Bowl,28,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
Veggie Burrito,26,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Faji...",8.49
Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
Veggie Salad,686,1,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
Veggie Salad Bowl,83,1,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",8.75
Veggie Soft Tacos,304,1,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49

In [86]:
des_isnull = (chipo.choice_description.isnull())
precio_unitario = (chipo.mean == min(chipo.item_price))
unitario = (chipo.quantity == 1)

products2 = chipo.item_name[des_isnull | precio_unitario]
products2.unique()

array(['Chips and Fresh Tomato Salsa',
       'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips',
       'Chips and Guacamole', 'Bottled Water',
       'Chips and Tomatillo Green Chili Salsa', 'Chips',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Tomatillo-Red Chili Salsa',
       'Chips and Mild Fresh Tomato Salsa'], dtype=object)

In [83]:
chipo["mean"] = chipo.item_price / chipo.quantity
chipo

,order_id,quantity,item_name,choice_description,item_price,mean
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [90]:
min(chipo["mean"].values)

1.09

In [92]:
j = chipo.groupby(["item_name", "choice_description"]).min()
j

                                                                      order_id  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                   154
                  [Diet Coke]                                              148
                  [Lemonade]                                              1253
                  [Nestea]                                                 298
                  [Sprite]                                                 129
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...       322
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       688
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...      1132
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...       948
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       304

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                     1
                  [Diet Coke]                                                1
                  [Lemonade]                                                 1
                  [Nestea]                                                   1
                  [Sprite]                                                   1
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...         1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...         1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...         1

                                                                      item_price  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    6.49
                  [Diet Coke]                                               6.49
                  [Lemonade]                                                6.49
                  [Nestea]                                                  6.49
                  [Sprite]                                                  6.49
...                                                                          ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...        8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...        8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...        8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       11.25

                                                                       mean
item_name         choice_description
6 Pack Soft Drink [Coke]                                               6.49
                  [Diet Coke]                                          6.49
                  [Lemonade]                                           6.49
                  [Nestea]                                             6.49
                  [Sprite]                                             6.49
...                                                                     ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...   8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...  11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...   8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...   8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...  11.25

[1859 rows x 4 columns]

In [94]:
j.mean

<bound method DataFrame.mean of                                                                       order_id  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                   154
                  [Diet Coke]                                              148
                  [Lemonade]                                              1253
                  [Nestea]                                                 298
                  [Sprite]                                                 129
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...       322
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       688
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...      1132
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...       948
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       304

                                                                      quantity  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                     1
                  [Diet Coke]                                                1
                  [Lemonade]                                                 1
                  [Nestea]                                                   1
                  [Sprite]                                                   1
...                                                                        ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...         1
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...         1
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...         1
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...         1

                                                                      item_price  \
item_name         choice_description
6 Pack Soft Drink [Coke]                                                    6.49
                  [Diet Coke]                                               6.49
                  [Lemonade]                                                6.49
                  [Nestea]                                                  6.49
                  [Sprite]                                                  6.49
...                                                                          ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...        8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...       11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...        8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...        8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...       11.25

                                                                       mean
item_name         choice_description
6 Pack Soft Drink [Coke]                                               6.49
                  [Diet Coke]                                          6.49
                  [Lemonade]                                           6.49
                  [Nestea]                                             6.49
                  [Sprite]                                             6.49
...                                                                     ...
Veggie Soft Tacos [Fresh Tomato Salsa, [Black Beans, Cheese, Sour...   8.75
                  [Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...  11.25
                  [Roasted Chili Corn Salsa (Medium), [Black Bean...   8.49
                  [Roasted Chili Corn Salsa, [Fajita Vegetables, ...   8.75
                  [Tomatillo Red Chili Salsa, [Fajita Vegetables,...  11.25

[1859 rows x 4 columns]>

### Step 6. Sort by the name of the item

In [5]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by="item_name")

### Step 7. What was the quantity of the most expensive item ordered?

In [11]:
chipo_ = chipo.groupby("order_id").sum()
chipo_.sort_values(by="item_price", ascending=False).head(1)

          quantity  item_price
order_id
926             23      205.25

In [13]:
chipo.sort_values(by="item_price", ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [9]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

In [26]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [19]:
chipo.where(chipo.item_name == "Veggie Salad Bowl").groupby("item_name").sum()

                   order_id  quantity  item_price
item_name
Veggie Salad Bowl   17303.0      18.0       182.5

In [25]:
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

In [16]:
chipo8 = chipo.groupby("item_name").sum()
chipo8.sort_values("quantity", ascending=False)

                                       order_id  quantity  item_price
item_name
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chips and Guacamole                      449959       506     2201.04
Steak Burrito                            328437       386     3851.43
Canned Soft Drink                        304753       351      438.75
Chips                                    208004       230      494.34
Steak Bowl                               193752       221     2260.19
Bottled Water                            175944       211      302.56
Chips and Fresh Tomato Salsa             100419       130      361.36
Canned Soda                               76396       126      137.34
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Side of Chips                             84769       110      185.90
Veggie Burrito                            80962        97      934.77
Barbacoa Burrito                          74718        91      894.75
Veggie Bowl                               72270        87      867.99
Carnitas Bowl                             62742        71      736.71
Barbacoa Bowl                             53972        66      672.36
Carnitas Burrito                          51652        60      597.83
Steak Soft Tacos                          50177        56      536.05
6 Pack Soft Drink                         52322        55      356.95
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chicken Crispy Tacos                      47382        50      472.13
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Carnitas Soft Tacos                       37673        40      375.94
Steak Crispy Tacos                        35818        36      357.34
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Steak Salad Bowl                          29590        31      343.59
Nantucket Nectar                          21814        29       98.31
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Barbacoa Soft Tacos                       18725        25      250.46
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Izze                                      10587        20       67.80
Veggie Salad Bowl                         17303        18      182.50
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Chicken Salad                             10465         9       81.09
Carnitas Crispy Tacos                      5868         8       77.96
Veggie Soft Tacos                          5520         8       73.96
Burrito                                    1550         6       44.40
Veggie Salad                               7265         6       50.94
Carnitas Salad Bowl                        6693         6       66.34
Bowl                                        472         4       29.60
Steak Salad                                2362         4       35.66
Salad                                      1150         2       14.80
Crispy Tacos                                434         2       14.80
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Carnitas Salad                             1500         1        8.99
Veggie Crispy Tacos                         668         1        8.49

### Step 9. How many times did someone order more than one Canned Soda?

In [28]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
#chipo_drink_steak_bowl
len(chipo_drink_steak_bowl)

20

In [37]:
chipo_drink_steak_bowl2 = (chipo.item_name == "Canned Soda") & (chipo.quantity > 1)
chipo_drink_steak_bowl2.sum()

20