In [18]:
import sqlite3
import pandas as pd

In [17]:
dir_db= (r'C:\Users\andre\Desktop\The Bridge\ALUMNO\thebridgenov2020\SQL_taller\murder_game\sql-murder-mystery.db')
conn=sqlite3.connect(dir_db)

In [16]:
#creamos el cursor
cursor = conn.cursor()

In [15]:
mi_query = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

In [19]:
mi_query.fetchall()

[]

In [20]:
crime_scene="""
SELECT description
FROM crime_scene_report
WHERE date = "20180115" and type = "murder" and city = "SQL City"
"""
cursor =conn.cursor()
mi_query= cursor.execute(crime_scene)
mi_query.fetchall()

OperationalError: no such table: crime_scene_report

In [21]:
query_witness="""
SELECT name, transcript
FROM person p
JOIN interview int ON  int.person_id = p.id
WHERE address_street_name = 'Franklin Ave' and name LIKE 'Annabel%' or address_street_name = 'Northwestern Dr' and address_number="4919"
ORDER BY address_number DESC

"""
#pd.read_sql_query(query_witness, con= conn)
cursor =conn.cursor()
mi_query= cursor.execute(query_witness)
mi_query.fetchall()

OperationalError: no such table: person

In [22]:
gym_trace="""
SELECT *
FROM get_fit_now_member
WHERE id LIKE '48Z%' AND membership_Status = 'gold'

"""
pd.read_sql_query(gym_trace, con= conn)

DatabaseError: Execution failed on sql '
SELECT *
FROM get_fit_now_member
WHERE id LIKE '48Z%' AND membership_Status = 'gold'

': no such table: get_fit_now_member

In [22]:
conn.close()