# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [6]:
# Entero - Integer - int
x = 7
# Cadena - String - Lista de caracteres
x = "lorena"
print(x)

x = 7
print(x)

lorena
7

In [ ]:
# built-in
type

In [7]:
x = 5
y = 7

z = x + y
print(z)

12

In [31]:
x = "'lorena'\" "
l = 'silvia----'

g = x + l
# Las cadenas se concatenan
print(g)

'lorena'" silvia----

In [27]:
print(g)

'lorena'" silvia

In [28]:
# type muestra el tipo de la variable
type(g)

str

In [29]:
type(3)

int

In [37]:
# print es una función que recibe varios argumentos y cada argumento está diferenciado por la coma. Después de cada coma, la función 'print' añade un espacio.

# mala praxis
print(    g,z  ,    6,     "cadena")

# buena praxis - PEP8
print(g, z, 6, "cadena")

'lorena'" silvia---- 12 6 cadena
'lorena'" silvia---- 12 6 cadena

In [42]:
u = "g"
silvia = "silvia tiene "

anos = " años"

suma = silvia + u + anos
print(suma)

silvia tiene g años

In [41]:
n = 2
m = "3"

print(n + m)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
# Cambiar de int a str

j = 2
print(j)
print(type(j))
j = str(j)
print(j)
print(type(j))

2
<class 'int'>
2
<class 'str'>

In [51]:
# Cambiar de int a str

j = 2       
print(j)
print(type(j))
j = str(j) + " - " + silvia
print(j)
print(type(j))

2
<class 'int'>
2 - silvia tiene
<class 'str'>

In [1]:
k = 22
k = str(k)
print(k)

22

In [6]:
# Cambiar de str a int

lor = "98"
lor = int(lor)
print(lor)

98

In [11]:
# Para ver la longitud de una lista de caracteres (lista)

mn = "lista de caracteres$%·$% "

#lenght
print(len(mn))

25

In [12]:
h = len(mn)

print(h + 7)

32

In [13]:
h = 8

In [14]:
print(h)

8

In [2]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [16]:
print("Hello Python world!")
print("Nombre de compañero")

companero_clase = "Compañero123123"

print(companero_clase)

Hello Python world!
Nombre de compañero
Compañero123123

In [6]:
print(compañero)

Compañero123123

In [19]:
x = (2 + 4) + 7
print(x)

13

In [12]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [13]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [14]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [30]:
m = (numero2 + int(string2))
print(m)

43

In [3]:
m = ((((65 + int("22")) * 2)))
m

174

In [31]:
print(type(int(string2)))

<class 'int'>

In [35]:
y = 22
y = str(y)
print(type(y))

<class 'str'>

In [33]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [36]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [44]:
h = "2"
int(h)

2

In [27]:
# los decimales son float. Python permite las operaciones entre int y float
x = 4
y = 4.2

print(x + y)

8.2

In [40]:
# La división normal (/) es siempre float
# La división absoluta (//) puede ser: 
# - float si uno de los dos números (o los dos) son float
# - int si los dos son int 
j = 15
k = 4
division = j // k
print(division)
print(type(division))

3
<class 'int'>

In [26]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print("suma:", suma)
print("resta:", resta)
print("multiplicacion:", multiplicacion)
print("division:", division)
print("division_absoluta:", division_absoluta)
print(type(division))
print(type(division_absoluta))

suma: 15
resta: 9
multiplicacion: 36
division: 4.0
division_absoluta: 4
<class 'float'>
<class 'int'>

In [41]:
print(x)

4

In [47]:
j = "2"
j

'2'

In [48]:
print(j)

2

In [56]:
x = 2
j = 6
g = 4
h = "popeye"

# Jupyter notebook permite que la última línea se imprima por pantalla ( la variable )
print(g)
print(j)
print(h)
x

4
6
popeye

2

In [62]:
int(5.6/2)

2

In [63]:
float(2)

2.0

In [66]:
g = int(5.6/2)
print(g)
5

2

5

In [58]:
x = int(5.6//2)

x

2

In [65]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

1

In [ ]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [72]:
edad = 99
edad_companero_der = 30
suma_anterior = edad_companero_der + edad
print(suma_anterior)

129

In [73]:
h = 89 + suma_anterior
h

218

In [66]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

47

In [76]:
i = "hola"
o = i.upper()
o

'HOLA'

In [79]:
o.lower()

'hola'

In [67]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [68]:
print(name.upper)

<built-in method upper of str object at 0x0000021CD21027F0>

In [69]:
print(name.upper())

ADA LOVELACE

In [80]:
x = 2
x = x + 1
x

3

In [96]:
x += 1
x

8

In [4]:
# int
x = 1
# float
y = 2.
# str
s = "string"

In [8]:
# type --> muestra el tipo de la variable o valor
print(type(x))
type(y)
type(s)

<class 'int'>

str

In [97]:
5 + 2

7

In [ ]:
x = 2
x = x + 1
x += 1

In [70]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

In [14]:
s = "Hola soy Soraya:"
s + "789"

'Hola soy Soraya:789'

In [21]:
print(s, 98, 29, sep="")
print(s, 98, 29)

Hola soy Soraya:9829
Hola soy Soraya: 98 29

In [18]:
type(     x      )

int

In [11]:
2 + 6

8

## 2. Números y operadores

In [23]:
### Enteros ###

x = 3

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- El módulo de x con 40")
print(40 % x)

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2) # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- El módulo de x con 40
0
- Varias cosas en una línea:
1 2 8 10

In [26]:
# El módulo muestra el resto de la división entre dos números

2 % 2

0

In [27]:
3 % 2

1

In [32]:
4 % 5

4

In [33]:
numero = 99

numero % 2  # Si el resto es 0, el número es par. Sino, impar.

1

In [35]:
numero % 2

1

In [36]:
99 % 100

99

In [ ]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

## Título

Escribir lo que sea

1. uno
2. dos

# INPUT

In [40]:
edad = input("Introduce tu edad")

print("Diego tiene", edad, "años")

Diego tiene 55 años

In [42]:
# Input recoge una entrada de texto de tipo String

num1 = int(input("Introduce el primer número"))
num2 = int(input("Introduce el segundo número"))

print(num1 + num2)

ValueError: invalid literal for int() with base 10: '23e'

## 3. Tipo None

In [43]:
x = None

In [45]:
n = 5
s = "Cadena"
print(x + s)

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

## 4. Listas y colecciones

In [57]:
# Lista de elementos:

# Las posiciones se empiezan a contar desde 0
s = "Cadena"
primer_elemento = s[0]
#ultimo_elemento = s[5]
ultimo_elemento = s[-1]

print(primer_elemento)
print(ultimo_elemento)

C
a

In [61]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
bicycles[0]

'trek'

In [62]:
tamano_lista = len(bicycles)
tamano_lista

4

In [63]:
ultimo_elemento_por_posicion = tamano_lista - 1
bicycles[ultimo_elemento_por_posicion]

'specialized'

In [64]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

In [66]:
print(type(bicycles))

<class 'list'>

In [72]:
s = "String"
s.lower()
print(s.lower())
print(s)

string
String

In [71]:
s = s.lower()
s

'string'

In [68]:
# Existen dos tipos de funciones:
# 1. Los que modifican los valores sin que tengamos que especificar una reasignación a la variable
# 2. Los que solo devuelven la operación y no modifican el valor de la variable. Tenemos que forzar la reasignación si queremos modificar la variable. 

cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [74]:
cars = ['bmw']
print(cars)

cars.reverse()
print(cars)

['bmw']
['bmw']

In [78]:
s = "Hola soy Clara"

print(s[::-1])

aralC yos aloH

In [77]:
s

'Hola soy Clara'

In [86]:
l = "hola"
len(l)

4

In [87]:
l[3]

'a'

In [85]:
# Para acceder a varios elementos, se especifica con la nomenclatura "[N:M]". N es el primer elemento a obtener, M es el último elemento a obtener pero no incluido. Ejemplo: 

# Queremos mostrar desde las posiciones 3 a la 7. Debemos especificar: [3:8]

# Si M no tiene ningún valor, se obtiene desde N hasta el final. 
# Si N no tiene ningún valor, es desde el principio de la colección hasta M
s[3:len(s)]

'a soy Clara'

In [83]:
s[:3]

'Hol'

In [82]:
s[3:10]

'a soy C'

In [88]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [89]:
# Agrega un valor a la última posición de la lista
motorcycles.append("ducati")
motorcycles

['honda', 'yamaha', 'suzuki', 'ducati']

In [90]:
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'ducati']
lista[3]

[2, 3]

In [93]:
lista.remove(8.9)
lista

['honda', 2, 'yamaha', 'suzuki', 'ducati']

In [95]:
lista
l = lista[1]
l

2

In [96]:
lista.remove(l)
lista

['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
lista.remove(lista[2])

In [103]:
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']
lista

['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']

In [97]:
# remove elimina el primer elemento que se encuentra que coincide con el valor del argumento
lista = ['honda', 2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']
lista.remove("honda")
lista

[2, 8.9, [2, 3], 'yamaha', 'suzuki', 'honda', 'ducati']

In [98]:
# Accedemos a la posición 1 del elemento que está en la posición 2 de lista
lista[2][1]

3

In [101]:
lista[3][2]

'm'

In [105]:
p = lista.remove("honda")
print(p)

None

In [109]:
l = [2, 4, 6, 8]
l.reverse()
l

[8, 6, 4, 2]

### Colecciones

1. Listas
2. String (colección de caracteres)
3. Tuplas
4. Conjuntos (Set)

In [166]:
# Listas --> Mutables
lista = [2, 5, "caract", [9, "g", ["j"]]]
print(lista[-1][-1][-1])
lista[3][2][0]

j

'j'

In [169]:
lista.append("ultimo")
lista

[2, 5, 'caract', [9, 'g', ['j']], 'ultimo']

In [170]:
# Tuplas --> Inmutables

tupla = (2, 5, "caract", [9, "g", ["j"]])
tupla

(2, 5, 'caract', [9, 'g', ['j']])

In [172]:
s = "String"
s[2]

'r'

In [177]:
tupla[3].remove(9)
tupla

(2, 5, 'caract', ['g', ['j']])

In [178]:
tupla[3][1].remove("j")
tupla

(2, 5, 'caract', ['g', []])

In [179]:
tupla2 = (2, 5, 'caract', ['g', ['j']])
tupla2[-1].remove(["j"])
tupla2

(2, 5, 'caract', ['g'])

In [181]:
tupla2 = (2, 5, 'caract', ['g', ['j']])
tupla2[-1].remove("g")
tupla2

(2, 5, 'caract', [['j']])

In [183]:
tupla2[-1].remove(["j"])
tupla2

(2, 5, 'caract', [])

In [224]:
if False == 0:
    print(0)

0

In [174]:
print(type(lista))
print(type(tupla))

<class 'list'>
<class 'tuple'>

In [184]:
# Update listas
lista = [2, "6", ["k", "m"]]
lista[1] = 1
lista

[2, 1, ['k', 'm']]

In [185]:
lista = [2, "6", ["k", "m"]]
lista[2] = 0
lista

[2, '6', 0]

In [186]:
tupla = (2, "6", ["k", "m"])
tupla[2] = 0
tupla

TypeError: 'tuple' object does not support item assignment

In [187]:
tupla = (2, "6", ["k", "m"])
tupla[2][1] = 0
tupla

(2, '6', ['k', 0])

In [188]:
# Conjuntos

conjunto = [2, 4, 6, "a", "z", "h", 2]
conjunto = set(conjunto)
conjunto

{2, 4, 6, 'a', 'h', 'z'}

In [190]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 4, 6, False, True, 'a', 'h', 'z'}

In [191]:
conjunto = ["a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False]
conjunto = set(conjunto)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [195]:
conjunto_tupla = ("a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False)
conjunto = set(conjunto_tupla)
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [193]:
conjunto = {"a", "z", "h", 2, 2, 4, 6, 2.1, 2.4, 2.3, True, True, False}
conjunto

{2, 2.1, 2.3, 2.4, 4, 6, False, True, 'a', 'h', 'z'}

In [198]:
s = "String"
lista_s = list(s)
lista_s

['S', 't', 'r', 'i', 'n', 'g']

In [200]:
s = "String"
conj = {s}
conj

{'String'}

In [204]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = tuple(tupla)
tupla

(5, 'h')

In [206]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = (((((tupla)))))
tupla

[5, 'h']

In [207]:
tupla = (2, 5, "h")
tupla = list(tupla)
tupla.remove(2)
tupla = tuple(tupla)
tupla

(5, 'h')

In [210]:
conjunto = {2, 5, "h"}
lista_con_conjunto = [conjunto]
lista_con_conjunto[0]

{2, 5, 'h'}

In [213]:
# No podemos acceder a elementos de un conjunto
lista_con_conjunto[0][0]

TypeError: 'set' object does not support indexing

In [218]:
lista = [1, 5, 6, True, 6]
set(lista)

{1, 5, 6}

In [217]:
lista = [True, 5, 6, 1, 6]
set(lista)

{True, 5, 6}

In [219]:
1 == True

True

## 5. Condiciones: if, elif, else

### Boolean

In [ ]:
True
False

In [111]:
# Operadores comparativos
x = (1 == 1)
x

True

In [112]:
1 == 2

False

In [113]:
"a" == "a"

True

In [114]:
# Diferente
"a" != "a"

False

In [115]:
2 > 4

False

In [116]:
4 > 2

True

In [117]:
4 >= 4

True

In [118]:
4 > 4

False

In [119]:
4 <= 5

True

In [120]:
4 < 3

False

In [123]:
input()

''

In [122]:
1 == 1

True

In [124]:
"""
==  -> Igualdad
!= -> Diferecia
< -> Menor que
> -> Mayor que
<= -> Menor o igual
>= -> Mayor o igual
"""

'\n== \n!=\n<\n>\n<=\n>=\n'

In [128]:
# and solo devolverá True si TODOS son True
True and False

False

In [129]:
# or devolverá True si UNO es True

(1 == 1) or (1 == 2)

True

In [130]:
(1 == 1) or (1 == 2) and (1 == 1)

True

In [131]:
(1 == 1) or ((1 == 2) and (1 == 1))

True

In [132]:
(1 == 1) and (1 == 2) and (1 == 1)

False

In [133]:
(1 == 1) and (1 == 2) and ((1 == 1) or (0 == 0))
# True and False and True

False

In [126]:
print("Yo soy\n Gabriel")

Yo soy
 Gabriel

In [134]:
if 1 != 1:
    print("Son iguales")
else:
    print("No entra en if")

No entra en if

In [135]:
if 1 == 1:
    print("Son iguales")
else:
    print("No entra en if")

Son iguales

In [136]:
if 1>3:
    print("Es mayor")
elif 2==2:
    print("Es igual")
elif 3==3:
    print("Es igual2")
else:
    print("Ninguna de las anteriores")

Es igual

In [137]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 2==2:
    print(2)
else:
    print("Segundo else")

Primer else
2

In [138]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 3==3:
    print(" 3 es 3 ")
if 2==2:
    print(2)
else:
    print("Segundo else")

Primer else
 3 es 3
2

In [139]:
if 2>3:
    print(1)
else:
    print("Primer else")
# -------
if 3==4:
    print(" 3 es 3 ")
# --------
if 2==2:
    print(2)
    print(5)
    x = 6
    print(x)
else:
    print("Segundo else")

Primer else
2
5
6

In [140]:
if 2>3:
    print(1)
else:
    print("Primer else")
# -------
if 3==4:
    print(" 3 es 3 ")
# --------
if 2==2:
    print(2)
    print(5)
    x = 6
    print(x)
    # ------
    if x == 7:
        print("X es igual a 6")
    # ------
    y = 7
    print(y)
else:
    print("Segundo else")

Primer else
2
5
6
7

In [144]:
if (not (1==1)):
    print("Hola")

In [145]:
if not None:
    print(1)

1

In [147]:
if "a":
    print(2)

2

In [150]:
if 0:
    print(0)

In [ ]:
# Sinónimos de False para las condiciones:
# None
# False
# 0 (int or float)
# Cualquier colección vacía --> [], "", (), {}

# El None no actúa como un número al compararlo con otro número
"""
El True lo toma como un numérico 1
"""

In [152]:
lista = []

if lista:
    print(4)

In [151]:
lista = ["1"]

if lista:
    print(4)

4

In [153]:
if 0.0:
    print(2)

In [154]:
if [] or False or 0 or None:
    print(4)

In [155]:
if [] and False or 0 or None:
    print(4)

In [156]:
if not ([] or False or 0 or None):
    print(4)

4

In [158]:
if [] or False or not 0 or None:
    print(True)
else:
    print(False)

True

In [161]:
x = True
y = False

x + y

1

In [162]:
x = True
y = False

str(x) + str(y)

'TrueFalse'

In [ ]:
def funcion_condicion():
    if y > 4:
        print("Es mayor a 4")
    else:
        print("No es mayor a 4")

funcion_condicion(y=4)

In [ ]:
def funcion_primera(x):
    if x == 4:
        print("Es igual a 4")
    else:
        funcion_condicion(y=x)

funcion_primera(x=5)

In [ ]:
def funcion_final(apellido):
    if len(apellido) > 5:
        print("Cumple condición")
    else:
        print("No cumpole condición")

funcion_final(apellido="Vazquez")

# Bucles For, While

In [ ]:
lista = [1, "dos", 3, "Pepito"] 

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])

In [ ]:
for p in lista:
    print(p)

In [ ]:
altura1 = [1.78, 1.63, 1.75, 1.68]
altura2 = [2.00, 1.82]
altura3 = [1.65, 1.73, 1.75]
altura4 = [1.72, 1.71, 1.71, 1.62]

lista_alturas = [altura1, altura2, altura3, altura4]

print(lista_alturas[0][1])

for x in lista_alturas:
    print(x[3])

In [ ]:
def mostrar_cada_elemento_de_lista(lista):
    for x in lista:
        print(x)

mostrar_cada_elemento_de_lista(lista=lista_alturas)

In [ ]:
mostrar_cada_elemento_de_lista(lista=lista)

In [ ]:
for x in lista_alturas:
    if len(x) > 2:
        print(x[2])
    else:
        print(x[1])