# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", delimiter="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [3]:
chipo.iloc[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.count()
#None
#NaN

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [6]:
chipo.shape[0]

4622

In [7]:
# Solution 1

len(chipo)

4622

In [8]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [9]:
len(chipo.index)

4622

### Step 6. What is the number of columns in the dataset?

In [10]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [11]:
l = [[2,4], [4,7]]

In [12]:
chipo.columns.values

array(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'], dtype=object)

### Step 8. How is the dataset indexed?

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [15]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [23]:
chipo.groupby("item_name").agg(["sum", "mean", "count"])

                                      order_id                    quantity  \
                                           sum         mean count      sum
item_name
6 Pack Soft Drink                        52322   968.925926    54       55
Barbacoa Bowl                            53972   817.757576    66       66
Barbacoa Burrito                         74718   821.076923    91       91
Barbacoa Crispy Tacos                     5613   510.272727    11       12
Barbacoa Salad Bowl                       9708   970.800000    10       10
Barbacoa Soft Tacos                      18725   749.000000    25       25
Bottled Water                           175944  1086.074074   162      211
Bowl                                       472   236.000000     2        4
Burrito                                   1550   258.333333     6        6
Canned Soda                              76396   734.576923   104      126
Canned Soft Drink                       304753  1012.468439   301      351
Carnitas Bowl                            62742   922.676471    68       71
Carnitas Burrito                         51652   875.457627    59       60
Carnitas Crispy Tacos                     5868   838.285714     7        8
Carnitas Salad                            1500  1500.000000     1        1
Carnitas Salad Bowl                       6693  1115.500000     6        6
Carnitas Soft Tacos                      37673   941.825000    40       40
Chicken Bowl                            713926   983.369146   726      761
Chicken Burrito                         497303   899.282098   553      591
Chicken Crispy Tacos                     47382  1008.127660    47       50
Chicken Salad                            10465  1162.777778     9        9
Chicken Salad Bowl                      117104  1064.581818   110      123
Chicken Soft Tacos                       98395   855.608696   115      120
Chips                                   208004   985.800948   211      230
Chips and Fresh Tomato Salsa            100419   912.900000   110      130
Chips and Guacamole                     449959   939.371608   479      506
Chips and Mild Fresh Tomato Salsa          279   279.000000     1        1
Chips and Roasted Chili Corn Salsa       14999   681.772727    22       23
Chips and Roasted Chili-Corn Salsa       17462   970.111111    18       18
Chips and Tomatillo Green Chili Salsa    41170   957.441860    43       45
Chips and Tomatillo Red Chili Salsa      45556   949.083333    48       50
Chips and Tomatillo-Green Chili Salsa    21826   704.064516    31       33
Chips and Tomatillo-Red Chili Salsa      18344   917.200000    20       25
Crispy Tacos                               434   217.000000     2        2
Izze                                     10587   529.350000    20       20
Nantucket Nectar                         21814   807.925926    27       29
Salad                                     1150   575.000000     2        2
Side of Chips                            84769   839.297030   101      110
Steak Bowl                              193752   918.255924   211      221
Steak Burrito                           328437   892.491848   368      386
Steak Crispy Tacos                       35818  1023.371429    35       36
Steak Salad                               2362   590.500000     4        4
Steak Salad Bowl                         29590  1020.344828    29       31
Steak Soft Tacos                         50177   912.309091    55       56
Veggie Bowl                              72270   850.235294    85       87
Veggie Burrito                           80962   852.231579    95       97
Veggie Crispy Tacos                        668   668.000000     1        1
Veggie Salad                              7265  1210.833333     6        6
Veggie Salad Bowl                        17303   961.277778    18       18
Veggie Soft Tacos                         5520   788.571429     7        8


                                           mean count
item_name
6 Pack Soft Drink                      1.018519    54
Barbacoa Bowl                          1.000000    66
Barbacoa Burrito                       1.000000    91
Barbacoa Crispy Tacos                  1.090909    11
Barbacoa Salad Bowl                    1.000000    10
Barbacoa Soft Tacos                    1.000000    25
Bottled Water                          1.302469   162
Bowl                                   2.000000     2
Burrito                                1.000000     6
Canned Soda                            1.211538   104
Canned Soft Drink                      1.166113   301
Carnitas Bowl                          1.044118    68
Carnitas Burrito                       1.016949    59
Carnitas Crispy Tacos                  1.142857     7
Carnitas Salad                         1.000000     1
Carnitas Salad Bowl                    1.000000     6
Carnitas Soft Tacos                    1.000000    40
Chicken Bowl                           1.048209   726
Chicken Burrito                        1.068716   553
Chicken Crispy Tacos                   1.063830    47
Chicken Salad                          1.000000     9
Chicken Salad Bowl                     1.118182   110
Chicken Soft Tacos                     1.043478   115
Chips                                  1.090047   211
Chips and Fresh Tomato Salsa           1.181818   110
Chips and Guacamole                    1.056367   479
Chips and Mild Fresh Tomato Salsa      1.000000     1
Chips and Roasted Chili Corn Salsa     1.045455    22
Chips and Roasted Chili-Corn Salsa     1.000000    18
Chips and Tomatillo Green Chili Salsa  1.046512    43
Chips and Tomatillo Red Chili Salsa    1.041667    48
Chips and Tomatillo-Green Chili Salsa  1.064516    31
Chips and Tomatillo-Red Chili Salsa    1.250000    20
Crispy Tacos                           1.000000     2
Izze                                   1.000000    20
Nantucket Nectar                       1.074074    27
Salad                                  1.000000     2
Side of Chips                          1.089109   101
Steak Bowl                             1.047393   211
Steak Burrito                          1.048913   368
Steak Crispy Tacos                     1.028571    35
Steak Salad                            1.000000     4
Steak Salad Bowl                       1.068966    29
Steak Soft Tacos                       1.018182    55
Veggie Bowl                            1.023529    85
Veggie Burrito                         1.021053    95
Veggie Crispy Tacos                    1.000000     1
Veggie Salad                           1.000000     6
Veggie Salad Bowl                      1.000000    18
Veggie Soft Tacos                      1.142857     7

In [38]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [42]:
chipo3 = chipo.copy()
chipo3

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [45]:
chipo3 = chipo3.groupby("item_name").sum().drop(columns=["order_id"]).reset_index()

chipo3

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

In [52]:
chipo.groupby("item_name").sum().drop(columns=["order_id"]).reset_index(inplace=True)

chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [40]:
chipo2 = chipo.groupby("item_name").sum().drop(columns=["order_id"]).reset_index()

chipo2

                                item_name  quantity
0                       6 Pack Soft Drink        55
1                           Barbacoa Bowl        66
2                        Barbacoa Burrito        91
3                   Barbacoa Crispy Tacos        12
4                     Barbacoa Salad Bowl        10
5                     Barbacoa Soft Tacos        25
6                           Bottled Water       211
7                                    Bowl         4
8                                 Burrito         6
9                             Canned Soda       126
10                      Canned Soft Drink       351
11                          Carnitas Bowl        71
12                       Carnitas Burrito        60
13                  Carnitas Crispy Tacos         8
14                         Carnitas Salad         1
15                    Carnitas Salad Bowl         6
16                    Carnitas Soft Tacos        40
17                           Chicken Bowl       761
18                        Chicken Burrito       591
19                   Chicken Crispy Tacos        50
20                          Chicken Salad         9
21                     Chicken Salad Bowl       123
22                     Chicken Soft Tacos       120
23                                  Chips       230
24           Chips and Fresh Tomato Salsa       130
25                    Chips and Guacamole       506
26      Chips and Mild Fresh Tomato Salsa         1
27     Chips and Roasted Chili Corn Salsa        23
28     Chips and Roasted Chili-Corn Salsa        18
29  Chips and Tomatillo Green Chili Salsa        45
30    Chips and Tomatillo Red Chili Salsa        50
31  Chips and Tomatillo-Green Chili Salsa        33
32    Chips and Tomatillo-Red Chili Salsa        25
33                           Crispy Tacos         2
34                                   Izze        20
35                       Nantucket Nectar        29
36                                  Salad         2
37                          Side of Chips       110
38                             Steak Bowl       221
39                          Steak Burrito       386
40                     Steak Crispy Tacos        36
41                            Steak Salad         4
42                       Steak Salad Bowl        31
43                       Steak Soft Tacos        56
44                            Veggie Bowl        87
45                         Veggie Burrito        97
46                    Veggie Crispy Tacos         1
47                           Veggie Salad         6
48                      Veggie Salad Bowl        18
49                      Veggie Soft Tacos         8

In [18]:
chipo_agrupado_suma = chipo.groupby("item_name").sum()
chipo_agrupado_suma

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [19]:
chipo_agrupado_suma_ordenado = chipo_agrupado_suma.sort_values("quantity", ascending=False)
chipo_agrupado_suma_ordenado

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

In [20]:
chipo_agrupado_suma_ordenado.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [21]:
chipo.groupby("item_name").sum().sort_values("quantity", ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [53]:
chipo.groupby("item_name").sum().sort_values("quantity", ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [54]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [57]:
chipo.groupby(["choice_description"]).sum().sort_values(["quantity"]).tail(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [59]:
chipo["quantity"].sum()

4972

In [60]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [61]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [65]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [64]:
chipo["item_price"].dtypes

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [66]:
chipo["item_price"].values

array(['$2.39 ', '$3.39 ', '$3.39 ', ..., '$11.25 ', '$8.75 ', '$8.75 '],
      dtype=object)

In [70]:
# De forma no anónima con y sin lambda
def remove_dollar(x):
    return float(x[1:-1])

remove_dollar = lambda x: float(x[1:-1])

chipo["item_price_float"] = chipo["item_price"].apply(remove_dollar)
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [71]:
# De forma anónima con lambda

chipo["item_price_float"] = chipo["item_price"].apply(lambda x: float(x[1:-1]))
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [75]:
# replace

chipo["item_price_float_replace"] = chipo["item_price"].str.replace("$", "").astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

#### Step 13.c. Check the item price type

In [76]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 7 columns):
order_id                    4622 non-null int64
quantity                    4622 non-null int64
item_name                   4622 non-null object
choice_description          3376 non-null object
item_price                  4622 non-null object
item_price_float            4622 non-null float64
item_price_float_replace    4622 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 252.9+ KB

In [77]:
chipo["item_price"].dtype

dtype('O')

### Step 14. How much was the revenue for the period in the dataset?

In [78]:
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75

In [85]:
numero_chiken_bowl = 0
for pos, x in enumerate(chipo["item_name"]):
    if x == "Chicken Bowl":
        print(x)
        print(chipo["item_price"][pos])
        print(chipo["quantity"][pos])
        numero_chiken_bowl += 1
        print("-----------")
print(numero_chiken_bowl)

Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$32.94
3
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$22.50
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$26.25
3
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$22.50
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.19
1
-----------
Chicken Bowl
$10.58
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.19
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$17.50
2
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$16.98
2
-----------
Chicken Bowl
$8.19
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$10.98
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$11.25
1
-----------
Chicken Bowl
$21.96
2
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.49
1
-----------
Chicken Bowl
$8.75
1
-----------
Chicken Bowl
$8.75

In [84]:
chipo.groupby("item_name").count()

,order_id,quantity,choice_description,item_price,item_price_float,item_price_float_replace
item_name,,,,,,
6 Pack Soft Drink,54,54,54,54,54,54
Barbacoa Bowl,66,66,66,66,66,66
Barbacoa Burrito,91,91,91,91,91,91
Barbacoa Crispy Tacos,11,11,11,11,11,11
Barbacoa Salad Bowl,10,10,10,10,10,10
Barbacoa Soft Tacos,25,25,25,25,25,25
Bottled Water,162,162,0,162,162,162
Bowl,2,2,2,2,2,2
Burrito,6,6,6,6,6,6
Canned Soda,104,104,104,104,104,104
Canned Soft Drink,301,301,301,301,301,301
Carnitas Bowl,68,68,68,68,68,68
Carnitas Burrito,59,59,59,59,59,59
Carnitas Crispy Tacos,7,7,7,7,7,7
Carnitas Salad,1,1,1,1,1,1
Carnitas Salad Bowl,6,6,6,6,6,6
Carnitas Soft Tacos,40,40,40,40,40,40
Chicken Bowl,726,726,726,726,726,726
Chicken Burrito,553,553,553,553,553,553
Chicken Crispy Tacos,47,47,47,47,47,47
Chicken Salad,9,9,9,9,9,9
Chicken Salad Bowl,110,110,110,110,110,110
Chicken Soft Tacos,115,115,115,115,115,115
Chips,211,211,0,211,211,211
Chips and Fresh Tomato Salsa,110,110,0,110,110,110
Chips and Guacamole,479,479,0,479,479,479
Chips and Mild Fresh Tomato Salsa,1,1,0,1,1,1
Chips and Roasted Chili Corn Salsa,22,22,0,22,22,22
Chips and Roasted Chili-Corn Salsa,18,18,0,18,18,18
Chips and Tomatillo Green Chili Salsa,43,43,0,43,43,43
Chips and Tomatillo Red Chili Salsa,48,48,0,48,48,48
Chips and Tomatillo-Green Chili Salsa,31,31,0,31,31,31
Chips and Tomatillo-Red Chili Salsa,20,20,0,20,20,20
Crispy Tacos,2,2,2,2,2,2
Izze,20,20,20,20,20,20
Nantucket Nectar,27,27,27,27,27,27
Salad,2,2,2,2,2,2
Side of Chips,101,101,0,101,101,101
Steak Bowl,211,211,211,211,211,211
Steak Burrito,368,368,368,368,368,368
Steak Crispy Tacos,35,35,35,35,35,35
Steak Salad,4,4,4,4,4,4
Steak Salad Bowl,29,29,29,29,29,29
Steak Soft Tacos,55,55,55,55,55,55
Veggie Bowl,85,85,85,85,85,85
Veggie Burrito,95,95,95,95,95,95
Veggie Crispy Tacos,1,1,1,1,1,1
Veggie Salad,6,6,6,6,6,6
Veggie Salad Bowl,18,18,18,18,18,18
Veggie Soft Tacos,7,7,7,7,7,7

In [79]:
chipo[chipo["item_name"] == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98,10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25,11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75,8.75,8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49,8.49,8.49
...,...,...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25,11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75,8.75,8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75,8.75,8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75,8.75,8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75,8.75,8.75

In [87]:
# Sin añadir el quantity en item_price

chipo["item_price_total"] = chipo["item_price_float"] * chipo["quantity"] 
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace,item_price_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98,33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75,8.75

In [88]:
# Sin añadir el quantity en item_price

chipo["item_price_total"] = chipo["item_price_float"] * chipo["quantity"] 
chipo["item_price_total"].sum()

39237.02

In [89]:
# Añadiendo el quantity en item_price
chipo["item_price_float"].sum()

34500.16

### Step 15. How many orders were made in the period?

In [90]:
chipo

,order_id,quantity,item_name,choice_description,item_price,item_price_float,item_price_float_replace,item_price_total
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39,3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39,3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,16.98,33.96
...,...,...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75,11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75,11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25,11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75,8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75,8.75,8.75

In [91]:
chipo["order_id"].max()

1834

### Step 16. What is the average revenue amount per order?

In [92]:
# Solution 1

chipo["item_price_total"].sum() / chipo["order_id"].max()

21.39423118865867

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

In [101]:
len(chipo.groupby("item_name").count().index)

50

In [105]:
chipo["item_name"].nunique()

50